openapi: 3.1.1
info:
  title: Business Management
  version: 1.0.0
  termsOfService: https://alteg.io/en/info/terms/
  license:
    name: Altegio API Agreement
    url: /en/api-license-agreement
  description: >
    Full-featured B2B API for business operations.


    **Base URL:** `https://api.alteg.io/api`


    ## ⚠️ Version Status


    **V1 will be gradually deprecated.** We recommend using [V2
    API](../b2b-v2/openapi.yaml) for new integrations. V1 endpoints are
    maintained for backward compatibility, but new features will be released in
    V2 only.


    ## V1 and V2 parameter aliases


    V1 accepts the canonical V2 terminology for query-string and request-body
    parameters while continuing to support legacy V1 names. This makes it
    possible to share request-building code between API versions. Common alias
    families include:


    - `location_id`, `company_id`, and `salon_id`

    - `chain_id`, `company_group_id`, and `salon_group_id`

    - `team_member_id`, `staff_id`, and `master_id`

    - `appointment_id` and `record_id`

    - `product_id` and `good_id`


    Singular, plural, and camelCase variants are supported where applicable.
    Send only one name from each alias family. If multiple aliases are supplied,
    explicitly supplied values are preserved and are not overwritten.


    ## Authentication


    Requires both partner and user authorization:

    ```

    Authorization: Bearer <partner_token>, User <user_token>

    ```
servers:
  - url: https://api.alteg.io/api/v1
    description: Production
components:
  securitySchemes:
    bearer:
      type: apiKey
      name: Authorization
      in: header
    user:
      type: apiKey
      name: Authorization
      in: header
    BearerPartner:
      type: http
      scheme: bearer
      bearerFormat: Bearer {PartnerToken}
    BearerPartnerUser:
      type: http
      scheme: bearer
      bearerFormat: Bearer {PartnerToken}, User {UserToken}
  schemas:
    auth_request:
      title: Root Type for auth_request
      required:
        - login
        - password
      type: object
      properties:
        login:
          type: string
          description: Phone number or Email
        password:
          type: string
          description: Password
      description: User authorization
      example:
        login: testuser@alteg.io
        password: testpass
    auth_response:
      title: Root Type for auth_response
      type: object
      properties:
        success:
          type: boolean
          description: Request success status
        data:
          type: object
          additionalProperties: true
          properties:
            id:
              type: integer
              description: User ID
              format: int32
            user_token:
              type: string
              description: User_token of the user
            name:
              type: string
              description: Username
            phone:
              type: string
              description: User phone
            login:
              type: string
              description: User login
            email:
              type: string
              description: User mailing address
            avatar:
              type: string
              description: Path to the user's avatar file
            is_approved:
              type: boolean
              description: Is the user verified in the system
            is_email_confirmed:
              type: boolean
              description: Is the user email confirmed
        meta:
          type: array
          description: Metadata
          items: {}
      description: User authorization
      example:
        success: true
        data:
          id: 123456
          user_token: wec23fh8cDfFV4432fc352456
          name: James Smith
          phone: '+13155550175'
          login: j.smith
          email: j.smith@example.com
          avatar: >-
            https://assets.alteg.io/general/0/01/123456789098765_12345678909876.png
          is_approved: true
          is_email_confirmed: false
        meta: []
    response_success_false_object:
      title: Unsuccessful response status
      type: boolean
      description: Response status.
      example: false
    response_data_null_object:
      title: No data in response
      type:
        - object
        - 'null'
      description: Response data.
      example: null
    response_meta_error_unauthorized_object:
      title: Response error message
      type: object
      description: Additional response data.
      properties:
        message:
          type: string
          description: Error message.
          example: Authentication needed.
    401_unauthorized_response:
      type: object
      properties:
        success:
          $ref: '#/components/schemas/response_success_false_object'
        data:
          $ref: '#/components/schemas/response_data_null_object'
        meta:
          $ref: '#/components/schemas/response_meta_error_unauthorized_object'
    response_meta_error_forbidden_object:
      title: Response error message
      type: object
      description: Additional response data.
      properties:
        message:
          type: string
          description: Error message.
          example: Access denied.
    403_forbidden_response:
      type: object
      properties:
        success:
          $ref: '#/components/schemas/response_success_false_object'
        data:
          $ref: '#/components/schemas/response_data_null_object'
        meta:
          $ref: '#/components/schemas/response_meta_error_forbidden_object'
    response_meta_empty_object:
      title: Empty meta object
      type:
        - object
        - array
      description: Additional response data (empty object or empty array)
      example: {}
    404_not_found_response:
      type: object
      properties:
        success:
          $ref: '#/components/schemas/response_success_false_object'
        data:
          $ref: '#/components/schemas/response_data_null_object'
        meta:
          $ref: '#/components/schemas/response_meta_empty_object'
    companies_data_types:
      title: Root Type for companies_data_types
      type: object
      properties:
        success:
          type: boolean
          description: Success status (true)
        data:
          type: array
          description: Array of objects
          items:
            type: object
            additionalProperties: true
            properties:
              id:
                type: number
                description: location ID
              title:
                type: string
                description: location name
              public_title:
                type: string
                description: Public display name of the location
              short_descr:
                type: string
                description: location category
              logo:
                type: string
                description: location logo image address
              active:
                type: integer
                description: Is the location active (1 = active, 0 = inactive)
              phone:
                type: string
                description: location phone number
              phones:
                type: array
                description: Array of location phone numbers
                items:
                  type: string
              email:
                type: string
                description: Location email address
              country_id:
                type: number
                description: Identifier of the country in which the location is located
              schedule:
                type: string
                description: location schedule
              country:
                type: string
                description: location country name
              city_id:
                type: number
                description: City ID where the location is located
              city:
                type: string
                description: location city name
              timezone:
                type: number
                description: Timezone offset in hours
              timezone_name:
                type: string
                description: timezone locations
              address:
                type: string
                description: Address where the location is located
              coordinate_lat:
                type: number
                description: Latitude
                format: float
              coordinate_lon:
                type: number
                description: Longitude
                format: float
              phone_confirmation:
                type: boolean
                description: Do I need to confirm my phone number via SMS when appointment?
              active_staff_count:
                type: number
                description: Number of team members available for appointment
              next_slot:
                type: string
                description: >-
                  Date and time of the next free session in the location
                  (ISO8601). The field will be present only if the GET parameter
                  forBooking=1 is passed
                format: date-time
              app_ios:
                type: string
                description: Link to iOS App
              app_android:
                type: string
                description: Link to app for Android
              currency_short_title:
                type: string
                description: Abbreviated currency name
              reminds_sms_disabled:
                type: boolean
                description: SMS reminders disabled
              reminds_sms_default:
                type: integer
                description: Default SMS reminder setting
              group_priority:
                type: number
                description: >-
                  The higher the priority, the higher the location when
                  displayed in the list of chain locations
              bookform_group_priority:
                type: number
                description: Priority for booking form display
              description:
                type: string
                description: Full HTML description of the location
              photos:
                type: array
                description: Array of location photo paths
                items:
                  type: string
              company_photos:
                type: array
                description: Array of full location photo URLs
                items:
                  type: string
              booking_widget_promo:
                type:
                  - object
                  - 'null'
                description: Booking widget promo configuration
        meta:
          type: array
          description: Metadata (empty array)
          items:
            type: object
      description: Get a list of locations
      example:
        success: true
        data:
          - id: 1050
            title: La Visage
            public_title: La Visage Beauty
            short_descr: Beauty saloon
            logo: https://app.alteg.io/images/no-master.png
            active: 1
            phone: '+13155550175'
            phones:
              - '+13155550175'
            email: info@lavisage.com
            country_id: 7
            schedule: ''
            country: United States
            city_id: 181
            city: New York
            timezone: -5
            timezone_name: America/New_York
            address: New York, 787 Jackson Drive
            coordinate_lat: 40.73061
            coordinate_lon: -73.935242
            phone_confirmation: true
            active_staff_count: 2
            next_slot: '2026-03-23T10:10:00-05:00'
            app_ios: ''
            app_android: ''
            currency_short_title: $
            reminds_sms_disabled: false
            reminds_sms_default: 1
            group_priority: 900
            bookform_group_priority: 0
            description: <p>Welcome to La Visage</p>
            photos: []
            booking_widget_promo: null
        meta: []
    company_create_request_data_types:
      title: Root Type for company_create_request_data_types
      type: object
      properties:
        title:
          type: string
          description: location name
        country_id:
          type: number
          description: >-
            ID of the country in which the location is located ([method to get a
            list of countries](#countries))
        city_id:
          type: number
          description: >-
            Identifier of the city in which the location is located ([method to
            get a list of cities](#cities))
        address:
          type: string
          description: location address
        site:
          type: string
          description: location website
        coordinate_lat:
          type: number
          description: Latitude
          format: float
        coordinate_lot:
          type: number
          description: Longitude
          format: float
        business_type_id:
          type: number
          description: Business type
        short_descr:
          type: string
          description: location category
      description: Create a location
      example:
        title: James Smith LLC
        country_id: 7
        city_id: 2
        address: New York, 787 Jackson Drive
        site: james-smith-company.com
        coordinate_lat: 40.73061
        coordinate_lot: -73.935242
        business_type_id: 1
        short_descr: Beauty studio
    company_create_response_data_types:
      title: Root Type for company_create_response_data_types
      type: object
      properties:
        success:
          type: boolean
          description: Success status (true)
        data:
          type: object
          properties:
            id:
              type: number
              description: location ID
            title:
              type: string
              description: location name
            short_descr:
              type: string
              description: location category
            logo:
              type: string
              description: Path to location logo image
            active:
              type: number
              description: >-
                Is the location active (presence of a paid license) (1 - active,
                0 - inactive)
            phone:
              type: string
              description: location phone number
            country_id:
              type: number
              description: Identifier of the country in which the location is located
            schedule:
              type: string
              description: location schedule
            country:
              type: string
              description: Name of the country in which the location is located
            city_id:
              type: number
              description: City ID where the location is located
            city:
              type: string
              description: Name of the city where the location is located
            timezone_name:
              type: string
              description: timezone locations
            address:
              type: string
              description: Address where the location is located
            coordinate_lat:
              type: number
              description: Latitude
              format: float
            coordinate_lon:
              type: number
              description: Longitude
              format: float
            phone_confirmation:
              type: boolean
              description: Do I need to confirm my phone number via SMS when appointment?
            active_staff_count:
              type: number
              description: Number of team members available for appointment
            app_ios:
              type: string
              description: Link to iOS App
            app_android:
              type: string
              description: Link to Android App
            currency_short_title:
              type: string
              description: Abbreviated currency name
          description: data object
        meta:
          type: array
          description: Metadata (empty array)
          items:
            type: object
      description: Create a location
      example:
        success: true
        data:
          id: 1050
          title: James Smith LLC
          short_descr: Beauty studio
          logo: https://app.alteg.io/images/no-master.png
          active: 1
          phone: '+13155550175'
          country_id: 7
          schedule: ''
          country: United States
          city_id: 181
          city: New York
          timezone_name: America/New_York
          address: New York, 787 Jackson Drive
          coordinate_lat: 40.73061
          coordinate_lon: -73.935242
          phone_confirmation: true
          active_staff_count: 2
          app_ios: ''
          app_android: ''
          currency_short_title: R
        meta: []
    company_get_response_data_types:
      title: Root Type for company_get_response_data_types
      type: object
      properties:
        success:
          type: boolean
          description: Success status (true)
        data:
          type: object
          additionalProperties: true
          properties:
            id:
              type: number
              description: location ID
            title:
              type: string
              description: location name
            country_id:
              type: number
              description: Identifier of the country in which the location is located
            country:
              type: string
              description: Name of the country in which the location is located
            city_id:
              type: number
              description: City ID where the location is located
            city:
              type: string
              description: Name of the city where the location is located
            timezone_name:
              type: string
              description: timezone locations
            address:
              type: string
              description: Address where the location is located
            zip:
              type: string
              description: Zip code
            social:
              type: object
              properties:
                telegram:
                  type: string
                  description: Telegram
                instagram:
                  type: string
                  description: Instagram
                vk:
                  type: string
                  description: VK (social network)
                facebook:
                  type: string
                  description: Facebook
                viber:
                  type: string
                  description: Viber
                whatsapp:
                  type: string
                  description: WhatsApp
              description: location social media
            site:
              type: string
              description: location website
            coordinate_lat:
              type: number
              description: Latitude
              format: float
            coordinate_lon:
              type: number
              description: Longitude
              format: float
            phone_confirmation:
              type: boolean
              description: Do I need to confirm the phone by SMS when appointment
            active_staff_count:
              type: number
              description: Number of team members available for appointment
            next_slot:
              type: string
              description: >-
                Date and time of the next free session in the location
                (ISO8601). The field will be present only if the GET parameter
                forBooking=1 is passed
              format: date-time
            group_priority:
              type: integer
              description: >-
                The higher the priority, the higher the location when displayed
                in the list of chain locations
              format: int32
            push_notification_phone_confirm:
              oneOf:
                - type: boolean
                - type: integer
              description: >-
                Confirm client number to send push notifications (0/1 or
                boolean)
            main_group_id:
              type: number
              description: Main location chain ID
            main_group:
              description: Main location chain (object or empty array)
              oneOf:
                - type: object
                  additionalProperties: true
                  properties:
                    id:
                      type: number
                      description: Chain ID
                    title:
                      type: string
                      description: Chain name
                - type: array
                  maxItems: 0
            groups:
              type: object
              description: All location chains. Only when show_groups=1 is set
              additionalProperties:
                type: object
                properties:
                  id:
                    type: number
                    description: Chain ID
                  title:
                    type: string
                    description: Chain name
            bookforms:
              type: array
              description: location online booking forms (widgets)
              items:
                type: object
                properties:
                  id:
                    type: number
                    description: appointment form ID
                  title:
                    type: string
                    description: appointment form name
                  is_default:
                    type: number
                    description: Is this appointment form location default
                  url:
                    type: string
                    description: appointment form url
            online_sales_form_url:
              type: string
              description: appointment form url. Only if bookform_id is set
            payment_policy:
              type: object
              description: Currently enabled payment policy for the location
              properties:
                type:
                  type: string
                  enum:
                    - none
                    - deposit
                    - card_guarantee
                  description: >-
                    Payment policy type: none — disabled, deposit — prepaid
                    deposit, card_guarantee — card guarantee
            access:
              type: object
              description: Access rights list. Only if my=1 is set
          description: Object with data
        meta:
          type: array
          description: Metadata (empty array)
          items:
            type: object
      description: Get location
      example:
        success: true
        data:
          id: 37532
          title: James Smith LLC
          country_id: 7
          country: United States
          city_id: 181
          city: New York
          timezone_name: America/New_York
          address: New York, 787 Jackson Drive
          zip: '11435'
          coordinate_lat: 40.73061
          coordinate_lon: -73.935242
          short_descr: Beauty studio
          social:
            facebook: ''
            instagram: instagram.com/james_smith_company/
            telegram: ''
            whatsapp: ''
            viber: ''
          site: james-smith-company.com
          business_type_id: 1
          description: The <strong>James Smith</strong> location
          phone_confirmation: true
          active_staff_count: 2
          next_slot: '2026-03-23T10:10:00-05:00'
          group_priority: 900
          push_notification_phone_confirm: 1
          main_group_id: 9206
          main_group:
            id: 9206
            title: James Smith LLC main location chain
          groups:
            '9206':
              id: 9206
              title: James Smith LLC main location chain
            '9207':
              id: 9207
              title: James Smith LLC extra location chain
          bookforms:
            - id: 19203
              title: James Smith LLC location appointment form
              is_default: 0
              url: https://n19203.alteg.io/
          online_sales_form_url: https://o1.alteg.io
          payment_policy:
            type: deposit
          access: {}
        meta: []
    response_errors_unauthorized_object:
      title: Response error message
      type: object
      description: Additional response data.
      properties:
        code:
          type: number
          description: Error number.
          example: 401
        message:
          type: string
          description: Error message.
          example: Authentication needed
    401_unauthorized_response_legacy:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/response_errors_unauthorized_object'
        meta:
          $ref: '#/components/schemas/response_meta_error_unauthorized_object'
    response_errors_not_found_object:
      title: Response error message
      type: object
      description: Additional response data.
      properties:
        code:
          type: number
          description: Error number.
          example: 404
        message:
          type: string
          description: Error message.
          example: Not found
    response_meta_error_not_found_object:
      title: Response error message
      type: object
      description: Additional response data.
      properties:
        message:
          type: string
          description: Error message.
          example: Not found
    404_not_found_response_legacy:
      type: object
      properties:
        errors:
          $ref: '#/components/schemas/response_errors_not_found_object'
        meta:
          $ref: '#/components/schemas/response_meta_error_not_found_object'
    company_put_request_data_types:
      title: Root Type for company_put_request_data_types
      type: object
      properties:
        title:
          type: string
          description: location name
        country_id:
          type: number
          description: Country ID (has higher priority then country)
        country:
          type: string
          description: Country
        city_id:
          type: number
          description: City ID (has higher priority then city)
        city:
          type: string
          description: City
        address:
          type: string
          description: location address
        zip:
          type: string
          description: Zip code
        phones:
          type: array
          items:
            type: string
          description: location phone numbers
        social:
          type: object
          properties:
            telegram:
              type: string
              description: Telegram
            instagram:
              type: string
              description: Instagram
            vk:
              type: string
              description: VK (social network)
            facebook:
              type: string
              description: Facebook
            viber:
              type: string
              description: Viber
            whatsapp:
              type: string
              description: WhatsApp
          description: location social media
        site:
          type: string
          description: location website
        coordinate_lat:
          type: number
          description: Latitude
          format: float
        coordinate_lon:
          type: number
          description: Longitude
          format: float
        description:
          type: string
          description: Description
          format: html
        business_type_id:
          type: number
          description: Business type
          format: int32
        short_descr:
          type: string
          description: Business category
      description: Change location
      example:
        title: James Smith LLC
        country: United States
        city: New York
        address: New York, 787 Jackson Drive
        zip: '11435'
        phones:
          - '12125357710'
          - '12125357711'
        social:
          instagram: instagram.com/james_smith_company/
        site: james-smith-company.com
        coordinate_lat: 40.73061
        coordinate_lon: -73.935242
        description: The <strong>James Smith</strong> location
        business_type_id: 1
        short_descr: Beauty studio
    company_put_response_data_types:
      title: Root Type for company_put_response_data_types
      type: object
      properties:
        success:
          type: boolean
          description: Success status (true)
        data:
          type: object
          additionalProperties: true
          properties:
            id:
              type: number
              description: location ID
            title:
              type: string
              description: location name
            country_id:
              type: number
              description: Country ID
            country:
              type: string
              description: Country name
            city_id:
              type: number
              description: City ID
            city:
              type: string
              description: City name
            timezone_name:
              type: string
              description: Timezone name
            address:
              type: string
              description: location address
            zip:
              type: string
              description: Zip code
            social:
              type: object
              additionalProperties: true
              properties:
                telegram:
                  type: string
                  description: Telegram
                instagram:
                  type: string
                  description: Instagram
                vk:
                  type: string
                  description: VK (social network)
                facebook:
                  type: string
                  description: Facebook
                viber:
                  type: string
                  description: Viber
                whatsapp:
                  type: string
                  description: WhatsApp
              description: location social media
            site:
              type: string
              description: location website
            coordinate_lat:
              type: number
              description: Latitude
              format: float
            coordinate_lon:
              type: number
              description: Longitude
              format: float
            description:
              type: string
              description: Description
              format: html
            business_type_id:
              type: number
              description: Business type
              format: int32
            short_descr:
              type: string
              description: Business category
            phone_confirmation:
              type: boolean
              description: Do I need to confirm my phone number via SMS when appointment?
            group_priority:
              type: integer
              description: >-
                The higher the priority, the higher the location when displayed
                in the list of chain locations
              format: int32
            push_notification_phone_confirm:
              oneOf:
                - type: boolean
                - type: integer
              description: >-
                Confirm client number to send push notifications (0/1 or
                boolean)
            main_group_id:
              type: number
              description: Main location chain ID
            main_group:
              description: Main location chain (object or empty array)
              oneOf:
                - type: object
                  additionalProperties: true
                  properties:
                    id:
                      type: number
                      description: Chain ID
                    title:
                      type: string
                      description: Chain name
                - type: array
                  maxItems: 0
            access:
              type: object
              additionalProperties: true
              description: Access rights list
        meta:
          type: array
          description: Metadata (empty array)
          items:
            type: object
      description: Change location
      example:
        success: true
        data:
          id: 37532
          title: James Smith LLC
          country_id: 7
          country: United States
          city_id: 181
          city: New York
          timezone_name: America/New_York
          address: New York, 787 Jackson Drive
          zip: '11435'
          coordinate_lat: 40.73061
          coordinate_lon: -73.935242
          short_descr: Beauty studio
          social:
            facebook: ''
            instagram: instagram.com/james_smith_company/
            telegram: ''
            whatsapp: ''
            viber: ''
          site: james-smith-company.com
          business_type_id: 1
          description: The <strong>James Smith</strong> location
          phone_confirmation: true
          group_priority: 900
          push_notification_phone_confirm: 1
          access: {}
        meta: []
    service_categories_companyid_request_data_types:
      title: Root Type for service_categories_companyid_request_data_types
      type: object
      properties:
        title:
          type: string
          description: Service category name
        api_id:
          type: string
          description: External Category ID
        weight:
          type: number
          description: Category weight (used to sort categories when displayed)
        staff:
          type: array
          description: List of IDs of team members providing services from the category
          items:
            type: number
            description: team member ID
      description: Create service category
      example:
        title: Haircut very feminine
        api_id: adw322
        weight: 111
        staff:
          - 5006
          - 8901
    service_categories_companyid_response_data_types:
      title: Root Type for service_categories_companyid_response_data_types
      type: object
      properties:
        success:
          type: boolean
          description: Execution success status (true)
        data:
          type: object
          properties:
            id:
              type: number
              description: Category ID
            salon_service_id:
              type: number
              description: Category ID for the location on the chain
            title:
              type: string
              description: name of category
            api_id:
              type: string
              description: External Category ID
            weight:
              type: number
              description: Category weight (used to sort categories when displayed)
            staff:
              type: array
              description: List of team member IDs providing the service from the category
              items:
                type: number
                description: team member ID
          description: Object with data
        meta:
          type: array
          description: Metadata (empty array)
          items:
            type: object
      description: Create service category
      example:
        success: true
        data:
          id: 3
          salon_service_id: 15
          title: Haircut very feminine
          api_id: adw322
          weight: 111
          staff:
            - 5006
            - 8901
        meta: []
    services_list_response:
      title: Root Type for services_list_response
      type: object
      properties:
        success:
          type: boolean
          description: Execution success status (true)
        data:
          type: array
          description: Array of services
          items:
            type: object
            additionalProperties: true
            properties:
              id:
                type: number
                description: Service ID
              salon_service_id:
                type: number
                description: Service ID for a location on the chain
              title:
                type: string
                description: Service name
              booking_title:
                type: string
                description: Service name for booking
              category_id:
                type: number
                description: Identifier of the category in which the service consists
              price_min:
                type: number
                description: Minimum price for the service
                format: float
              price_max:
                type: number
                description: Maximum price for the service
                format: float
              duration:
                type: number
                description: Service duration in seconds, default is 3600
                format: float
              technical_break_duration:
                oneOf:
                  - type: number
                  - type: 'null'
                description: |
                  Technical break duration in seconds.
                  - null = use location default
                  - Value in multiples of 300 (5-minute intervals)
              discount:
                type: number
                description: Discount percentage
                format: float
              comment:
                type: string
                description: Comment on the service
              weight:
                type: number
                description: Service weight (used to sort categories when displayed)
              active:
                type: number
                description: 1 - available for online booking, 0 - not available
              api_id:
                type: string
                description: External Service ID
        meta:
          type: array
          description: Metadata (empty array)
          items:
            type: object
      description: Get a list of services response
      example:
        success: true
        data:
          - id: 10279685
            salon_service_id: 11486182
            title: Service name
            booking_title: Service name
            category_id: 10279684
            price_min: 0
            price_max: 0
            duration: 3600
            discount: 0
            comment: ''
            weight: 1
            active: 1
            api_id: ''
        meta: []
    services_companyid_request_data_types:
      title: Root Type for services_companyid_request_data_types
      type: object
      properties:
        title:
          type: string
          description: Service name
        category_id:
          type: number
          description: Service Category ID
        price_min:
          type: number
          description: The minimum cost of the service
          format: float
        price_max:
          type: number
          description: Maximum cost of the service
          format: float
        duration:
          type: number
          description: Service duration, default is 3600 seconds
          format: float
        technical_break_duration:
          oneOf:
            - type: number
              minimum: 0
              maximum: 3600
            - type: 'null'
          description: >
            Technical break duration in seconds.

            - If not provided, defaults to null

            - null = use location default (Settings → Appointment Log →
            Technical Breaks)

            - Must be in multiples of 300 (5-minute intervals)

            - Maximum value is 3600 (1 hour)
        discount:
          type: number
          description: Service discount
          format: float
        comment:
          type: string
          description: Comment on the service
        weight:
          type: number
          description: Service weight (used to sort services when displayed)
        active:
          type: number
          description: >-
            Is the service available for online booking? 1 - available, 0 not
            available.
        api_id:
          type: string
          description: External Service ID
        staff:
          type: array
          description: >-
            team members who provide the service, along with the duration of the
            service for each team member
          items:
            type: object
            properties:
              id:
                type: number
                description: team member ID
              seance_length:
                type: number
                description: The duration of the service (in multiples of 15 minutes)
      description: Create a service
      example:
        title: Men's haircut
        category_id: 83167
        price_min: 1300
        price_max: 1300
        duration: 3600
        discount: 0
        comment: ''
        weight: 6
        active: 1
        api_id: '00000000042'
        staff:
          - id: 5905
            seance_length: 2700
          - id: 5907
            seance_length: 3600
          - id: 8973
            seance_length: 3600
          - id: 13616
            seance_length: 3600
          - id: 16681
            seance_length: 3600
          - id: 1796
            seance_length: 3600
          - id: 34006
            seance_length: 3600
    services_companyid_response_data_types:
      title: Root Type for services_companyid_response_data_types
      type: object
      properties:
        success:
          type: boolean
          description: Execution success status (true)
        data:
          type: object
          additionalProperties: true
          properties:
            id:
              type: number
              description: Service ID
            salon_service_id:
              type: number
              description: Service ID for a location on the chain
            title:
              type: string
              description: Service name
            category_id:
              type: number
              description: Identifier of the category in which the service consists
            price_min:
              type: number
              description: Minimum price for the service
              format: float
            price_max:
              type: number
              description: Maximum price for the service
              format: float
            duration:
              type: number
              description: Service duration, default is 3600 seconds
              format: float
            technical_break_duration:
              oneOf:
                - type: number
                - type: 'null'
              description: >
                Technical break duration in seconds.

                - null = use location default (Settings → Appointment Log →
                Technical Breaks)

                - Value in multiples of 300 (5-minute intervals)

                - Maximum value is 3600 (1 hour)
            discount:
              type: number
              description: Discount
              format: float
            comment:
              type: string
              description: Comment on the service
            weight:
              type: number
              description: Service weight (used to sort categories when displayed)
            active:
              type: number
              description: 1 - available for online booking, 0 - not available
            api_id:
              type: string
              description: External Service ID
            staff:
              type: array
              description: List of team members providing the service and session duration
              items:
                type: object
                properties:
                  id:
                    type: number
                    description: team member ID
                  seance_length:
                    type: number
                    description: Service duration (multiple of 15 minutes)
          description: Object with data
        meta:
          type: array
          description: Metadata (empty array)
          items:
            type: object
      description: Create a service
      example:
        success: true
        data:
          id: 83169
          salon_service_id: 322888
          title: Men's haircut
          category_id: 83167
          price_min: 1300
          price_max: 1300
          duration: 3600
          discount: 0
          comment: ''
          weight: 6
          active: 1
          api_id: '00000000042'
          staff:
            - id: 5905
              seance_length: 2700
            - id: 5907
              seance_length: 3600
            - id: 8973
              seance_length: 3600
            - id: 13616
              seance_length: 3600
            - id: 16681
              seance_length: 3600
            - id: 1796
              seance_length: 3600
            - id: 34006
              seance_length: 3600
        meta: []
    company_companyid_service_categories_response200_data_types:
      title: >-
        Root Type for
        company_companyid_service_categories_response200_data_types
      type: object
      properties:
        success:
          type: boolean
          description: Execution success status (true)
        data:
          type: array
          description: Array of objects
          items:
            type: object
            additionalProperties: true
            properties:
              id:
                type: number
                description: Category ID
              salon_service_id:
                type: number
                description: Category ID for the location on the chain
              title:
                type: string
                description: name of category
              api_id:
                type: string
                description: External Category ID
              weight:
                type: number
                description: Category weight (used to sort categories when displayed)
              staff:
                type: array
                description: List of team member IDs providing the service
                items:
                  type: number
                  description: team member ID
              is_chain:
                type: boolean
                description: Whether category belongs to chain
        meta:
          description: Metadata (object with total_count or empty array)
          oneOf:
            - type: object
              properties:
                total_count:
                  type: number
                  description: Number of categories found
            - type: array
              maxItems: 0
              description: Empty array when no metadata
      description: Get a list of service categories
      example:
        success: true
        data:
          - id: 345
            salon_service_id: 353
            title: Haircuts for men
            api_id: adw322
            weight: 10
            staff:
              - 5006
              - 8901
              - 26514
              - 26516
              - 26519
              - 26520
          - id: 3456
            salon_service_id: 3252
            title: Haircuts for women
            api_id: adw323
            weight: 9
            staff:
              - 5006
              - 8901
        meta:
          total_count: 2
    company_companyid_services_serviceid_response200_data_types:
      title: >-
        Root Type for
        company_companyid_services_serviceid_response200_data_types
      type: object
      properties:
        success:
          type: boolean
          description: Execution success status (true)
        data:
          type: object
          description: Service data object
          additionalProperties: true
          properties:
            id:
              type: number
              description: Service ID
            salon_service_id:
              type: number
              description: Service ID for a location on the chain
            title:
              type: string
              description: Service name
            category_id:
              type: number
              description: Identifier of the category in which the service consists
            price_min:
              type: number
              description: Minimum price for the service
              format: float
            price_max:
              type: number
              description: Maximum price for the service
              format: float
            discount:
              type: number
              description: Discount
              format: float
            comment:
              type: string
              description: Comment on the service
            weight:
              type: number
              description: Service weight (used to sort categories when displayed)
            active:
              type: number
              description: 1 - available for online booking, 0 - not available
            api_id:
              type: string
              description: External Service ID
            staff:
              type: array
              description: List of team members providing the service and session duration
              items:
                type: object
        meta:
          type: array
          description: Metadata (empty array)
          items:
            type: object
      description: Get a list of services / specific service
      example:
        success: true
        data:
          id: 83169
          salon_service_id: 433222
          title: Men's haircut
          category_id: 83167
          price_min: 1300
          price_max: 1300
          discount: 0
          comment: ''
          weight: 6
          active: 1
          api_id: '00000000042'
          staff:
            - id: 5905
              seance_length: 2700
            - id: 5907
              seance_length: 3600
          duration: 3600
          is_online: true
        meta: []
    services_change_companyid_request_data_types:
      type: object
      title: Root Type for services_change_companyid_request_data_types
      required:
        - title
        - category_id
        - price_min
        - price_max
        - duration
        - booking_title
        - is_multi
        - tax_variant
        - vat_id
        - is_need_limit_date
        - seance_search_start
        - seance_search_finish
        - step
        - seance_search_step
      properties:
        title:
          type: string
          description: Service name
        booking_title:
          type: string
          description: Service name for appointment
        category_id:
          type: number
          description: ID service category
        price_min:
          type: number
          description: Minimum cost of the service
          format: float
        price_max:
          type: number
          description: Maximum cost of the service
          format: float
        duration:
          type: number
          description: Service duration, default value is 3600
        technical_break_duration:
          oneOf:
            - type: number
              minimum: 0
              maximum: 3600
            - type: 'null'
          description: >
            Technical break duration in seconds.

            - If not provided, defaults to null

            - null = use location default (Settings → Appointment Log →
            Technical Breaks)

            - Must be in multiples of 300 (5-minute intervals)

            - Maximum value is 3600 (1 hour)
        discount:
          type: number
          description: Service discount
          format: float
        comment:
          type: string
          description: Comment on the service
        is_multi:
          type: boolean
          description: false - Appointment, true - Event
        tax_variant:
          type: number
          description: Bill ID
        vat_id:
          type: number
          description: VAT ID
        is_need_limit_date:
          type: boolean
          description: The service is available for a limited time
        date_from:
          type: string
          format: date
          description: Service availability start date (YYYY-MM-DD)
        date_to:
          type: string
          format: date
          description: Service availability end date (YYYY-MM-DD)
        seance_search_start:
          type: number
          description: Start of period is the appointment available, in seconds
        seance_search_finish:
          type: number
          description: End of period is the appointment available, in seconds
        step:
          type: number
          description: Display interval of slots, in seconds
        seance_search_step:
          type: number
          description: Search interval of slots, in seconds
        weight:
          type: number
          description: Service weight (used to sort services when displayed)
        active:
          type: number
          description: 1 - available for online booking, 0 - not available
        api_id:
          type: string
          description: External Service ID
        staff:
          type: array
          description: List of team members providing the service and session duration
          items:
            type: object
            properties:
              id:
                type: number
                description: team member ID
              seance_length:
                type: number
                description: Service duration (multiple of 15 minutes)
      description: Change service
      example:
        title: Men's haircut
        booking_title: Men's haircut
        category_id: 83167
        price_min: 1300
        price_max: 1300
        duration: 3600
        discount: 0
        tax_variant: 1
        vat_id: 3
        is_multi: false
        is_need_limit_date: true
        date_from: '2022-09-19'
        date_to: '2022-09-30'
        seance_search_start: 36000
        seance_search_finish: 84600
        step: 300
        seance_search_step: 900
        comment: ''
        weight: 6
        active: 1
        api_id: '00000000042'
        staff:
          - id: 5905
            seance_length: 2700
          - id: 5907
            seance_length: 3600
          - id: 8973
            seance_length: 3600
          - id: 13616
            seance_length: 3600
          - id: 16681
            seance_length: 3600
          - id: 1796
            seance_length: 3600
          - id: 34006
            seance_length: 3600
    services_change_companyid_response_data_types:
      title: Root Type for services_change_companyid_response_data_types
      type: object
      properties:
        success:
          type: boolean
          description: Execution success status (true)
        data:
          type: object
          properties:
            title:
              type: string
              description: Service name
            booking_title:
              type: string
              description: Service name for appointment
            category_id:
              type: number
              description: ID service category
            price_min:
              type: number
              description: Minimum cost of the service
              format: float
            price_max:
              type: number
              description: Maximum cost of the service
              format: float
            duration:
              type: number
              description: Service duration, default value is 3600
            technical_break_duration:
              oneOf:
                - type: number
                - type: 'null'
              description: |
                Technical break duration in seconds.
                - null = use location default
                - Value in multiples of 300 (5-minute intervals)
            discount:
              type: number
              description: Service discount
              format: float
            comment:
              type: string
              description: Comment on the service
            is_multi:
              type: boolean
              description: false - Appointment, true - Event
            tax_variant:
              type: number
              description: Bill ID
            vat_id:
              type: number
              description: VAT ID
            is_need_limit_date:
              type: boolean
              description: The service is available for a limited time
            date_from:
              type: string
              format: date
              description: Service availability start date (YYYY-MM-DD)
            date_to:
              type: string
              format: date
              description: Service availability end date (YYYY-MM-DD)
            seance_search_start:
              type: number
              description: Start of period is the appointment available, in seconds
            seance_search_finish:
              type: number
              description: End of period is the appointment available, in seconds
            step:
              type: number
              description: Display interval of slots, in seconds
            seance_search_step:
              type: number
              description: Search interval of slots, in seconds
            weight:
              type: number
              description: Service weight (used to sort services when displayed)
            active:
              type: number
              description: 1 - available for online booking, 0 - not available
            api_id:
              type: string
              description: External Service ID
            print_title:
              type: string
              description: Service title for printing
            service_type:
              type: number
              description: Service type
            api_service_id:
              type: number
              description: External API service ID
            repeat_visit_days_step:
              type:
                - string
                - 'null'
              description: Repeat visit days step
            schedule_template_type:
              type: number
              description: Schedule template type
            online_invoicing_status:
              type: number
              description: Online invoicing status
            is_abonement_autopayment_enabled:
              type: number
              description: Is membership autopayment enabled (1/0)
            autopayment_before_visit_time:
              type: number
              description: Autopayment before visit time
            abonement_restriction_value:
              type: number
              description: Membership restriction value
            is_chain:
              type: boolean
              description: Is chain service
            is_price_managed_only_in_chain:
              type: boolean
              description: Is price managed only in chain
            is_comment_managed_only_in_chain:
              type: boolean
              description: Is comment managed only in chain
            price_prepaid_amount:
              type: number
              description: Prepaid amount
            price_prepaid_percent:
              type: number
              description: Prepaid percent
            id:
              type: number
              description: Service ID
            salon_service_id:
              type: number
              description: Location service ID
            prepaid:
              type: string
              description: Prepaid status (forbidden/optional/required)
            capacity:
              type: number
              description: Service capacity
            image_group:
              type: array
              description: Image group
              items:
                type: object
            dates:
              type: array
              description: Service dates
              items:
                type: object
            resources:
              type: array
              description: Service resources
              items:
                type: object
            is_online:
              type: boolean
              description: Is available for online booking
            staff:
              type: array
              description: List of team members providing the service and session duration
              items:
                type: object
                properties:
                  id:
                    type: number
                    description: team member ID
                  seance_length:
                    type: number
                    description: Service duration (multiple of 15 minutes)
                  technological_card_id:
                    type:
                      - number
                      - 'null'
                    description: Technological card ID
        meta:
          type: array
          description: Metadata (empty array)
          items:
            type: object
      description: Change service
      example:
        success: true
        data:
          title: Men's haircut
          booking_title: Men's haircut
          category_id: 83167
          price_min: 1300
          price_max: 1300
          duration: 3600
          discount: 0
          tax_variant: 1
          vat_id: 3
          is_multi: false
          is_need_limit_date: true
          date_from: '2022-09-19'
          date_to: '2022-09-30'
          seance_search_start: 36000
          seance_search_finish: 84600
          step: 300
          seance_search_step: 900
          comment: ''
          weight: 6
          active: 1
          api_id: '00000000042'
          staff:
            - id: 5905
              seance_length: 2700
            - id: 5907
              seance_length: 3600
            - id: 8973
              seance_length: 3600
            - id: 13616
              seance_length: 3600
            - id: 16681
              seance_length: 3600
            - id: 1796
              seance_length: 3600
            - id: 34006
              seance_length: 3600
        meta: []
    company_companyid_service_categories_response403_data_types:
      title: >-
        Root Type for
        company_companyid_service_categories_response403_data_types
      type: object
      properties:
        success:
          type: boolean
          description: Execution success status (true)
        data:
          type: string
          description: is null
        meta:
          type: object
          properties:
            message:
              type: string
              description: Error message
          description: Metadata (error message)
      description: Getting a list of service categories
      example:
        success: false
        meta:
          message: >-
            It is necessary to renew the license in the branch with id:
            {company_id}
    company_companyid_service_categories_response404_data_types:
      title: >-
        Root Type for
        company_companyid_service_categories_response403_data_types
      type: object
      properties:
        success:
          type: boolean
          description: Execution success status (true)
        data:
          type: string
          description: is null
        meta:
          type: object
          properties:
            message:
              type: string
              description: Error message
            errors:
              type: array
              description: List of error messages
              items:
                type: object
                properties:
                  message:
                    type: string
          description: Metadata (contains possible error messages)
      description: Getting a list of service categories
      example:
        success: false
        meta:
          message: Possible error messages
          errors:
            - message: Location not specified.
            - message: Location not found.
            - message: Service category does not exist.
            - message: Team Member not found.
    response_success_true_object:
      title: Successful response status
      type: boolean
      description: Response status.
      example: true
    master_service_link:
      title: Object of model "Service Team Member"
      type: object
      additionalProperties: true
      properties:
        service_id:
          type: number
          description: ID of service.
        master_id:
          type: number
          description: ID of team member.
        length:
          type: number
          description: >-
            Duration of service provision by the specified team member in
            seconds.
        technological_card_id:
          type: number
          description: ID of technological card.
        api_id:
          type: string
          description: External API identifier.
        is_online:
          type: boolean
          description: Whether the service is available for online booking.
        is_offline_records_allowed:
          type: boolean
          description: >-
            Whether offline appointments are allowed for this service-team
            member link.
        price:
          oneOf:
            - type: number
            - type: 'null'
          description: Custom price for this team member providing the service.
      example:
        service_id: 123
        master_id: 123
        length: 3600
        technological_card_id: 123
        api_id: ''
        is_online: true
        is_offline_records_allowed: true
        price: null
    response_meta_validation_exception_object:
      title: Request validation error message
      type: object
      description: Additional response data.
      properties:
        message:
          type: string
          description: Error message.
          example: An error has occurred.
        errors:
          type: array
          description: Set of a validation error messages.
          items:
            type: object
            additionalProperties: true
    422_unprocessable_entity_response:
      type: object
      properties:
        success:
          $ref: '#/components/schemas/response_success_false_object'
        data:
          $ref: '#/components/schemas/response_data_null_object'
        meta:
          $ref: '#/components/schemas/response_meta_validation_exception_object'
    service_title:
      title: Root Type for ServiceTitle
      type: object
      properties:
        id:
          type: integer
          description: Service ID
          format: int32
        title:
          type: string
          description: Service name
      description: Service name
      example:
        id: 123456
        title: Service name
    service_category_title:
      title: Root Type for ServiceCategoryTitle
      type: object
      properties:
        id:
          type: integer
          description: Service Category ID
          format: int32
        title:
          type: string
          description: Service category name
        services:
          type: array
          description: Services in the category (on request)
          items:
            $ref: '#/components/schemas/service_title'
      description: Service category name
      example:
        id: 41
        title: Service category
        services:
          - id: 52
            title: Service 1
          - id: 45
            title: Service 2
    staff_list_response:
      title: Staff List Response
      type: object
      properties:
        success:
          type: boolean
          description: Execution success status (true)
        data:
          type: array
          description: Array of team members
          items:
            type: object
            additionalProperties: true
            properties:
              id:
                type: integer
                description: Team member ID
              api_id:
                type:
                  - integer
                  - 'null'
                description: External API ID (for integrations)
              name:
                type: string
                description: Team member name
              specialization:
                type: string
                description: Team member specialization/title
              rating:
                type: number
                description: Average rating score
              show_rating:
                type: integer
                description: Whether to show rating (1 = show, 0 = hide)
              user_id:
                type:
                  - integer
                  - 'null'
                description: Linked user account ID
              has_access_timetable:
                type: boolean
                description: Whether team member has access to timetable management
              avatar:
                type: string
                description: URL to small avatar image
              avatar_big:
                type: string
                description: URL to large avatar image
              comments_count:
                type: integer
                description: Number of comments/reviews
              votes_count:
                type: integer
                description: Number of rating votes
              bookable:
                type: boolean
                description: Whether team member is available for online booking
              image_group:
                type: array
                description: Additional images
                items:
                  type: object
              information:
                type: string
                description: Additional information/bio
              position_id:
                type: integer
                description: Position/role ID
              schedule_till:
                type: string
                format: date
                description: Schedule available until date (YYYY-MM-DD)
              weight:
                type: integer
                description: Sort order weight
              fired:
                type: integer
                description: Fired status (1 = fired, 0 = active)
              status:
                type: integer
                description: Status flag (1 = removed, 0 = active)
              hidden:
                type: integer
                description: Hidden from online booking (1 = hidden, 0 = visible)
              user:
                type: array
                description: Linked user data
                items:
                  type: object
              prepaid:
                type: string
                description: Prepayment requirement (forbidden, allowed, required)
              position:
                description: Position object or empty array if unassigned
                oneOf:
                  - type: object
                    properties:
                      id:
                        type: integer
                      title:
                        type: string
                  - type: array
                    maxItems: 0
        meta:
          type: array
          description: Metadata (empty array)
          items:
            type: object
      description: Get a list of team members for a location
      example:
        success: true
        data:
          - id: 2940951
            api_id: null
            name: John Smith
            specialization: Hair Stylist
            rating: 4.8
            show_rating: 1
            user_id: null
            has_access_timetable: false
            avatar: https://be.cdn.alteg.io/images/no-master-sm.png
            avatar_big: https://be.cdn.alteg.io/images/no-master.png
            comments_count: 15
            votes_count: 20
            bookable: true
            image_group: []
            information: Senior stylist with 10 years experience
            position_id: 1
            schedule_till: '2026-12-31'
            weight: 100
            fired: 0
            status: 0
            hidden: 0
            user: []
            prepaid: forbidden
            position:
              id: 1
              title: Senior Stylist
        meta: []
    staff_companyid_request_data_types:
      title: Root Type for staff_companyid_request_data_types
      type: object
      properties:
        name:
          type: string
          description: team member name
        specialization:
          type: string
          description: team member specialization
        weight:
          type: number
          description: >-
            team member weight. team members are sorted by weight on exit,
            heavier first
        information:
          type: string
          description: team member information (HTML format)
        api_id:
          type: string
          description: External team member ID
        hidden:
          type: number
          description: Display status in online appointment, 1 - hidden, 0 - not hidden
        fired:
          type: number
          description: the team member's dismissal status, 1 - dismissed, 0 - not dismissed
        user_id:
          type: number
          description: Linked user ID, 0 - unlink user
        has_access_timetable:
          type: boolean
          description: >
            Whether the team member has access to the appointment calendar (can
            have working hours set).


            When `true`, the team member can be assigned schedules and appear in
            booking.

            When `false` (default for new team members), schedule-related
            operations will fail.


            **Note:** This may be limited by your subscription plan.
          example: true
        is_paid_staff:
          type: boolean
          description: Whether the team member is a paid staff member (optional)
        is_included_in_payment_policy:
          type: boolean
          description: >
            Whether the team member is included in the location''s active
            payment policy scope (optional).


            Toggling this field requires the `payment_policy_update_access`
            permission; otherwise the request fails with 403.

            The field is silently ignored when the `payment_policy` feature is
            disabled for the location or no active payment policy exists.
      description: Add new team member
      example:
        name: Basil
        specialization: the hairdresser
        weight: 10
        information: Trimming with three hands
        api_id: '42'
        hidden: 0
        fired: 0
        user_id: 123
        has_access_timetable: true
        is_paid_staff: false
        is_included_in_payment_policy: true
    company_companyid_staff_staffid_response_data_types:
      title: Root Type for company_companyid_staff_staffid_response_data_types
      type: object
      properties:
        success:
          type: boolean
          description: Execution success status (true)
        data:
          type: object
          description: Team member data object
          additionalProperties: true
          properties:
            id:
              type: number
              description: team member ID
            name:
              type: string
              description: team member name
            company_id:
              type: number
              description: location ID
            specialization:
              type: string
              description: team member specialization
            position:
              description: >-
                Team member's position (object when assigned, null or empty
                array when unassigned)
              oneOf:
                - type: object
                  additionalProperties: true
                  properties:
                    id:
                      type: number
                      description: Job ID
                    title:
                      type: string
                      description: Job title
                - type: array
                  maxItems: 0
                  description: Empty array when no position assigned
                - type: 'null'
                  description: Null when no position assigned
            avatar:
              type: string
              description: Path to team member avatar file
            avatar_big:
              type: string
              description: The path to the team member's avatar file in a higher resolution
            fired:
              type: number
              description: Whether the team member was fired, 1 - fired, 0 - not fired
            status:
              type: number
              description: Is the team member removed, 1 - removed, 0 - not removed
            hidden:
              type: number
              description: >-
                Whether the team member is hidden for online appointment, 1 -
                hidden, 0 - not hidden
            user_id:
              type:
                - number
                - 'null'
              description: team member's linked user ID
            is_paid_staff:
              type: boolean
              description: >-
                Whether the team member is a paid staff member counted in
                license price
            is_included_in_payment_policy:
              type: boolean
              description: >
                Whether the team member is included in the location''s active
                payment policy scope.


                Always returned. Defaults to `true` when the `payment_policy`
                feature is disabled for the location or no active payment policy
                exists.
        meta:
          type: array
          description: Metadata (empty array)
          items:
            type: object
      description: Get a List of team members / Specific team member
      example:
        success: true
        data:
          id: 1001539
          name: team member 1
          company_id: 176275
          specialization: team member
          position:
            id: 1
            title: Administrator
          avatar: https://app.alteg.io/images/no-master-sm.png
          avatar_big: https://app.alteg.io/images/no-master.png
          fired: 0
          status: 0
          hidden: 0
          user_id: 12345
          is_paid_staff: false
          is_included_in_payment_policy: true
        meta: []
    company_companyid_staff_staffid_response_data_types_deprecated:
      title: >-
        Root Type for
        company_companyid_staff_staffid_response_data_types_deprecated
      type: object
      properties:
        success:
          type: boolean
          description: Execution success status (true)
        data:
          type: array
          description: Array of objects with data
          items:
            type: object
            properties:
              id:
                type: number
                description: team member ID
              api_id:
                type: string
                description: team member External ID
              name:
                type: string
                description: team member name
              specialization:
                type: string
                description: team member socialization
              position:
                oneOf:
                  - type: object
                    properties:
                      id:
                        type: number
                        description: Job ID
                      title:
                        type: string
                        description: Job Title
                  - type: array
                    maxItems: 0
                description: team member's position (empty array if not set)
              show_rating:
                type: number
                description: >-
                  Whether to show the team member's rating (1 - show, 0 - do not
                  show)
              rating:
                type: number
                description: team member Rating
              votes_count:
                type: number
                description: Number of votes that rated a team member
              user_id:
                type:
                  - number
                  - 'null'
                description: team member's linked user ID
              avatar:
                type: string
                description: Path to team member avatar file
              avatar_big:
                type: string
                description: >-
                  The path to the team member's avatar file in a higher
                  resolution
              comments_count:
                type: number
                description: Number of comments to the team member
              weight:
                type: string
                description: >-
                  team member weight. team members are sorted by weight on exit,
                  heavier first
              information:
                type: string
                description: Additional information about the team member (HTML format)
              hidden:
                type: string
                description: >-
                  team member display status in online appointment booking, 1 -
                  hidden, 0 - not hidden
              fired:
                type: string
                description: >-
                  the team member's dismissal status, 1 - dismissed, 0 - not
                  dismissed
              status:
                type: string
                description: team member deletion status, 1 - deleted, 0 - not deleted
              image_group:
                oneOf:
                  - type: object
                properties:
                  id:
                    type: integer
                    format: int32
                  entity:
                    type: string
                  entity_id:
                    type: integer
                    format: int32
                  images:
                    type: object
                    properties:
                      sm:
                        type: object
                        properties:
                          id:
                            type: integer
                          path:
                            type: string
                          width:
                            type: string
                          height:
                            type: string
                          type:
                            type: string
                          image_group_id:
                            type: integer
                            format: int32
                          version:
                            type: string
                      norm:
                        type: object
                        properties:
                          id:
                            type: integer
                          path:
                            type: string
                          width:
                            type: string
                          height:
                            type: string
                          type:
                            type: string
                          image_group_id:
                            type: integer
                            format: int32
                          version:
                            type: string
                      origin:
                        type: object
                        properties:
                          id:
                            type: integer
                          path:
                            type: string
                          width:
                            type: string
                          height:
                            type: string
                          type:
                            type: string
                          image_group_id:
                            type: integer
                            format: int32
                          version:
                            type: string
                description: Group of images of a team member
        meta:
          type: array
          description: Metadata (empty array)
          items:
            type: object
      description: Obsolete. Get a list of team members / specific team member
      example:
        success: true
        data:
          - id: 17969
            name: Basil
            specialization: the hairdresser
            position:
              id: 1
              title: Administrator
            show_rating: 0
            rating: 0
            votes_count: 0
            user_id: 12345
            avatar: https://app.alteg.io/uploads/masters/sm/20151018220924_4963.jpg
            avatar_big: https://app.alteg.io/uploads/masters/norm/20151018220924_4963.jpg
            comments_count: 0
            weight: '10'
            information: <span><span><span>&nbsp;</span></span></span>
            hidden: '0'
            fired: '0'
            status: '0'
            image_group:
              id: 72250
              entity: master
              entity_id: 26427
              images:
                sm:
                  id: 186817
                  path: >-
                    https://app.alteg.io/uploads/masters/sm/9/90/9041171cfdabe4c_20170327202542.jpeg
                  width: '100'
                  height: '100'
                  type: jpeg
                  image_group_id: 72250
                  version: sm
                norm:
                  id: 186818
                  path: >-
                    https://app.alteg.io/uploads/masters/norm/a/aa/aa37b29b7eb322d_20170327202542.jpeg
                  width: '180'
                  height: '220'
                  type: jpeg
                  image_group_id: 72250
                  version: norm
                origin:
                  id: 186819
                  path: >-
                    https://app.alteg.io/uploads/masters/origin/6/65/654dbeb4ea0bbc3_20170327202542.jpeg
                  width: '800'
                  height: '600'
                  type: jpeg
                  image_group_id: 72250
                  version: origin
          - id: 34006
            api_id: '42'
            name: Denis
            specialization: the hairdresser
            position: {}
            show_rating: 0
            rating: 0
            votes_count: 0
            user_id: 12345
            avatar: https://app.alteg.io/uploads/masters/sm/20151116091208_4369.jpg
            avatar_big: https://app.alteg.io/uploads/masters/norm/20151116091208_4369.jpg
            comments_count: 0
            weight: '9'
            information: <span><span>&nbsp;</span></span>
            hidden: '0'
            fired: '0'
            status: '0'
            image_group: {}
          - id: 13616
            name: Alexander
            specialization: the hairdresser
            position: {}
            show_rating: 0
            rating: 4.76921
            votes_count: 0
            user_id: 12345
            avatar: https://app.alteg.io/uploads/masters/sm/20251112123913_5162.jpg
            avatar_big: https://app.alteg.io/uploads/masters/norm/20251112123913_5162.jpg
            comments_count: 26
            weight: '8'
            information: <span><span><span>&nbsp;</span></span></span>
            hidden: '0'
            fired: '0'
            status: '0'
            image_group: {}
        meta: []
    position_compact:
      title: Object of model "Position"
      description: Data for an existing position in a chain.
      type: object
      properties:
        id:
          type: number
          description: ID of a position.
        title:
          type: string
          description: Title of a position.
      example:
        id: 123
        title: Position
    master_with_position:
      title: Object of model "Team Member with Position"
      type: object
      properties:
        id:
          type: number
          description: ID of a team member.
        name:
          type: string
          description: Name of a team member.
        company_id:
          type: number
          description: ID of a location, where team member was created.
        specialization:
          type: string
          description: Specialization of a team member.
        avatar:
          type: string
          description: Link to the avatar of a team member (small).
        avatar_big:
          type: string
          description: Link to the avatar of a team member (original).
        position:
          type:
            - object
            - 'null'
          description: Position of a team member.
          allOf:
            - $ref: '#/components/schemas/position_compact'
        is_paid_staff:
          type: boolean
          description: >-
            Whether the team member is a paid staff member counted in license
            price.
      example:
        id: 123
        name: John Johnson
        company_id: 123
        specialization: Master
        avatar: https://app.alteg.io/images/no-master-sm.png
        avatar_big: https://app.alteg.io/images/no-master.png
        position:
          id: 123
          title: Position
        is_paid_staff: false
    company_companyid_staff_staffid_response403_data_types:
      title: Root Type for company_companyid_staff_staffid_response403_data_types
      type: object
      properties:
        success:
          type: boolean
          description: Execution success status (false)
        data:
          type: string
          description: Contains null
        meta:
          type: object
          properties:
            message:
              type: string
          description: Metadata (contains an error message)
      description: Get a List of team members / Specific team member
      example:
        success: false
        meta:
          message: >-
            It is necessary to renew the license in the branch with id:
            {company_id}
    company_companyid_staff_staffid_response404_data_types:
      title: Root Type for company_companyid_staff_staffid_response404_data_types
      type: object
      properties:
        success:
          type: boolean
          description: Execution success status (false)
        meta:
          type: object
          properties:
            message:
              type: string
            errors:
              type: array
              items:
                type: object
                properties:
                  message:
                    type: string
          description: Metadata (contains an error message)
      description: Get a List of team members / Specific team member
      example:
        success: false
        meta:
          message: Possible error messages
          errors:
            - message: Location not specified.
            - message: Team Member not listed
            - message: >-
                Team Member with ID {staff_id} was not found in branch
                {company_id}.
    staff_position:
      description: >-
        Team member's position (object when assigned, null or empty array when
        unassigned)
      oneOf:
        - type: object
          required:
            - id
            - title
          properties:
            id:
              type: number
              description: position id
            title:
              type: string
              description: job title
        - type: array
          maxItems: 0
          description: Empty array when no position assigned
        - type: 'null'
          description: Null when no position assigned
      example:
        id: 123
        title: Job title
    company_staff_position_list_data_type:
      required:
        - data
        - meta
        - success
      type: object
      properties:
        data:
          type: array
          description: Array of objects with data
          items:
            $ref: '#/components/schemas/staff_position'
        meta:
          type: array
          description: Metadata (contains the number of posts found)
          items:
            type: object
        success:
          type: boolean
          description: Execution success status (true)
      description: ''
    position:
      title: Object of model "Position"
      description: Data for an existing position in a chain.
      type: object
      properties:
        id:
          type: number
          description: ID of a position.
        chain_id:
          type: number
          description: ID of a chain, where position was created.
        title:
          type: string
          description: Title of a position.
        description:
          type: string
          description: Description of a position.
        services_binding_type:
          type: number
          description: |
            Type of binding of services to a position:  
            `0`: - binding disabled;  
            `2`: - strict binding.
          enum:
            - 0
            - 2
        rules_required_fields:
          type: array
          description: >-
            Fields required to be filled for a team member to be able to be
            linked to a position.
          items:
            type: string
        only_chain_appointment:
          type: boolean
          description: Availability of linking a team member to a position only in a chain.
      example:
        id: 123
        chain_id: 123
        title: Position
        description: Position description
        services_binding_type: 0
        rules_required_fields:
          - employee_name
          - surname
          - middle_name
          - date_admission
          - date_registration_end
          - phone_number
          - citizenship
          - sex
          - identity_document
          - tax_id
          - number_insurance_certificates
        only_chain_appointment: false
    clients_companyid_response_deprecated_data_types:
      title: Root Type for clients_companyid_response_deprecated_data_types
      type: object
      properties:
        success:
          type: boolean
          description: Execution success status (true)
        data:
          type: array
          description: Array of objects with data
          items:
            type: object
            properties:
              id:
                type: number
                description: Client ID
              name:
                type: string
                description: Client name
              phone:
                type: string
                description: Customer phone
              email:
                type: string
                description: Client Email
              categories:
                type: array
                description: Client categories
                items:
                  type: object
                  properties:
                    id:
                      type: integer
                      description: Category ID
                    title:
                      type: string
                      description: name of category
                    color:
                      type: string
                      description: Category color
              gender_id:
                type: number
                description: Gender identifier, 0 - unknown, 1 - male, 2 - female
              gender:
                type: string
                description: Gender name
              discount:
                type: number
                description: Discount
              importance_id:
                type: integer
                description: >-
                  Client priority level (0 - none, 1 - bronze, 2 - silver, 3 -
                  gold)
              importance:
                type: string
                description: Client priority level name
              card:
                type: number
                description: Client card number
              birth_date:
                type: string
                description: Client's date of birth
                format: date
              comment:
                type: string
                description: Customer comment
              sms_check:
                type: number
                description: 1 - Happy Birthday by SMS, 0 - do not congratulate
              sms_not:
                type: number
                description: 1 - Exclude the client from SMS mailings, 0 - do not exclude
              spent:
                type: number
                description: How much money spent in the location at the time of adding
              balance:
                type: number
                description: Client balance
              visits:
                type: number
                description: Number of visits
              last_change_date:
                type: string
                description: Last modified date
                format: date-time
              custom_fields:
                type: object
                properties: {}
                description: Additional client fields
        meta:
          type: object
          properties:
            page:
              type: integer
              format: int32
            total_count:
              type: integer
              format: int32
          description: Metadata (contains the page number and number of clients per page)
      description: Obsolete. Get a list of clients
      example:
        success: true
        data:
          - id: 66
            name: Customer
            phone: 13155550177
            email: asdfgh@g.com
            categories:
              - id: 3
                title: Black list
                color: '#0f0f0f'
              - id: 4
                title: VIP
                color: '#e8d313'
            gender_id: 0
            gender: unknown
            discount: 10
            importance_id: 3
            importance: Gold
            card: 123456789
            birth_date: '2026-09-21'
            comment: test
            sms_check: 1
            sms_not: 0
            spent: 71842
            balance: 0
            visits: 34
            last_change_date: 2026-02-01T12:00:00-0500
            custom_fields: {}
          - id: 16
            name: James
            phone: 13155550178
            email: ''
            categories: {}
            gender_id: 0
            gender: unknown
            discount: 0
            importance_id: 0
            importance: No importance class
            card: ''
            birth_date: null
            comment: ''
            sms_check: 0
            sms_not: 0
            spent: 0
            balance: 0
            visits: 3
            last_change_date: 2026-04-01T12:00:00-0500
            custom_fields: {}
        meta:
          page: 1
          total_count: 8
    company_companyid_clients_search_request_data_types:
      title: Root Type for company_cpmpanuid_clients_search_request_data_types
      type: object
      properties:
        page:
          type: number
          description: Page number
        page_size:
          type: number
          description: The number of output lines per page. Maximum 200. (Default 25)
        fields:
          type: array
          description: Fields to be returned in the response
          items:
            type: string
        order_by:
          type: string
[...]
