{
  "openapi": "3.1.1",
  "info": {
    "title": "Business Management",
    "version": "2.0.0",
    "termsOfService": "https://alteg.io/en/info/terms/",
    "license": {
      "name": "Altegio API Agreement",
      "url": "/en/api-license-agreement"
    },
    "description": "Next-generation B2B API with improved design and consistency.\n\n**Base URL:** `https://api.alteg.io/api/v2`\n\n## Status\n\nThis API is in active development. New features and improvements are released here first.\nWe recommend using this API for all new integrations.\n\n## Authentication\n\nRequires both partner and Business User authorization:\n```\nAuthorization: Bearer <partner_token>, User <user_token>\n```\n\n## Required Media Type\n\nEvery request must include:\n```\nAccept: application/vnd.api.v2+json\n```\n\nRequests without the v2 media type return `400`. A charset parameter is accepted.\n\n## URL Patterns\n\nLocation-scoped resources use `/locations/{location_id}/...`.\n\nPositions and Tags preserve the literal `company_id` path parameter name for\nSDK compatibility, but its value is the Location identifier. The legacy\n`/companies/{company_id}/positions` and `/companies/{company_id}/tags` paths\nremain accepted as compatibility aliases.\n"
  },
  "servers": [
    {
      "url": "https://api.alteg.io/api/v2",
      "description": "Production"
    }
  ],
  "components": {
    "securitySchemes": {
      "BearerPartnerUser": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Bearer {PartnerToken}, User {UserToken}"
      }
    },
    "parameters": {
      "accept_header": {
        "name": "Accept",
        "in": "header",
        "description": "Required B2B v2 response media type. Use `application/vnd.api.v2+json`. A charset parameter is also accepted.\n",
        "required": true,
        "schema": {
          "type": "string",
          "default": "application/vnd.api.v2+json"
        },
        "example": "application/vnd.api.v2+json"
      }
    },
    "schemas": {
      "resourceIdentifier": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          }
        }
      },
      "toManyRelationship": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/resourceIdentifier"
            }
          }
        }
      },
      "toOneRelationship": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "oneOf": [
              {
                "$ref": "#/components/schemas/resourceIdentifier"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "service_resource": {
        "title": "Service Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "service",
            "description": "Literal JSON:API resource type"
          },
          "id": {
            "type": "string",
            "description": "Service ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "title",
              "category_id"
            ],
            "properties": {
              "title": {
                "type": "string",
                "description": "Service name"
              },
              "category_id": {
                "type": "integer",
                "description": "Service Category ID"
              }
            }
          },
          "relationships": {
            "type": "object",
            "additionalProperties": false,
            "description": "Present when related data is requested through `include`",
            "properties": {
              "resources": {
                "$ref": "#/components/schemas/toManyRelationship"
              },
              "service_composite": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "resource_links": {
                "$ref": "#/components/schemas/toManyRelationship"
              },
              "company_links": {
                "$ref": "#/components/schemas/toManyRelationship"
              },
              "trial_settings": {
                "$ref": "#/components/schemas/toOneRelationship"
              }
            }
          }
        },
        "$defs": {
          "resourceIdentifier": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "type",
              "id"
            ],
            "properties": {
              "type": {
                "type": "string"
              },
              "id": {
                "type": "string"
              }
            }
          },
          "toManyRelationship": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/resourceIdentifier"
                }
              }
            }
          },
          "toOneRelationship": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "data"
            ],
            "properties": {
              "data": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/resourceIdentifier"
                  },
                  {
                    "type": "null"
                  }
                ]
              }
            }
          },
          "includedResource": {
            "type": "object",
            "required": [
              "type",
              "id",
              "attributes"
            ],
            "properties": {
              "type": {
                "type": "string"
              },
              "id": {
                "type": "string"
              },
              "attributes": {
                "type": "object"
              },
              "relationships": {
                "type": "object"
              }
            }
          }
        }
      },
      "includedResource": {
        "type": "object",
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "attributes": {
            "type": "object"
          },
          "relationships": {
            "type": "object"
          }
        }
      },
      "error_response": {
        "title": "B2B v2 Error Response",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "success",
          "data",
          "meta"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "const": false
          },
          "data": {
            "type": "null"
          },
          "meta": {
            "type": "object",
            "required": [
              "message"
            ],
            "additionalProperties": true,
            "properties": {
              "message": {
                "type": "string"
              },
              "errors": {
                "type": "object",
                "description": "Field-level validation errors, when applicable",
                "additionalProperties": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      },
      "service_category_resource": {
        "title": "Service Category Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "service_category",
            "description": "Literal JSON:API resource type"
          },
          "id": {
            "type": "string",
            "description": "Service Category ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "title",
              "salon_service_id"
            ],
            "properties": {
              "title": {
                "type": "string",
                "description": "Service Category name"
              },
              "salon_service_id": {
                "type": "integer",
                "description": "Location-specific Service Category link ID"
              }
            }
          }
        }
      },
      "attendance_service_resource": {
        "title": "Attendance Service Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "attendance_service",
            "description": "Literal JSON:API resource type"
          },
          "id": {
            "type": "string",
            "description": "Compound Attendance Service identifier"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "company_id",
              "service_id",
              "category_id",
              "is_composite",
              "composite_service_id",
              "salon_service_id",
              "composite_position",
              "staff_id",
              "title",
              "length",
              "duration",
              "price_min",
              "price_max",
              "technical_break_duration"
            ],
            "properties": {
              "company_id": {
                "type": "integer",
                "description": "Location ID"
              },
              "service_id": {
                "type": "integer",
                "description": "Service ID"
              },
              "category_id": {
                "type": "integer",
                "description": "Service Category ID"
              },
              "is_composite": {
                "type": "boolean",
                "description": "Whether the Service is composite"
              },
              "composite_service_id": {
                "type": "integer",
                "description": "Parent composite Service ID, or `0`"
              },
              "salon_service_id": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Location-specific Service link ID"
              },
              "composite_position": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Position within a composite Service"
              },
              "staff_id": {
                "type": "integer",
                "description": "Team Member ID, or `0` when not Team Member-specific"
              },
              "title": {
                "type": "string",
                "description": "Service name"
              },
              "length": {
                "type": "integer",
                "minimum": 0,
                "deprecated": true,
                "description": "Deprecated duration in seconds; use `duration`"
              },
              "duration": {
                "type": "integer",
                "minimum": 0,
                "description": "Service duration in seconds"
              },
              "price_min": {
                "type": "number",
                "description": "Minimum Service price"
              },
              "price_max": {
                "type": "number",
                "description": "Maximum Service price"
              },
              "technical_break_duration": {
                "type": "integer",
                "minimum": 0,
                "description": "Technical break duration in seconds"
              }
            }
          }
        }
      },
      "pagination": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "page",
          "offset",
          "limit"
        ],
        "properties": {
          "page": {
            "type": "integer",
            "minimum": 1
          },
          "offset": {
            "type": "integer",
            "minimum": 0
          },
          "limit": {
            "type": "integer",
            "minimum": 1,
            "maximum": 250
          }
        }
      },
      "attendance_service_suggestion_resource": {
        "title": "Attendance Service Suggestion Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "attendance_service_suggestion",
            "description": "Literal JSON:API resource type"
          },
          "id": {
            "type": "string",
            "description": "Suggested Service ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "service_id",
              "suggestion_type",
              "record_id"
            ],
            "properties": {
              "service_id": {
                "type": "integer",
                "description": "Suggested Service ID"
              },
              "suggestion_type": {
                "type": "string",
                "enum": [
                  "last_client_visit_attendance_service",
                  "client_popular_service",
                  "master_popular_service"
                ],
                "description": "Suggestion reason. Enum values are literal wire values; `client`\nidentifies a Booking User and `master` identifies a Team Member.\n"
              },
              "record_id": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Source Appointment ID when the suggestion is based on a prior visit"
              }
            }
          },
          "relationships": {
            "type": "object",
            "additionalProperties": false,
            "description": "Present when related data is requested through `include`",
            "properties": {
              "attendance_service": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "record": {
                "$ref": "#/components/schemas/toOneRelationship"
              }
            }
          }
        }
      },
      "unit_resource": {
        "title": "Product Unit Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "unit",
            "description": "Literal JSON:API resource type"
          },
          "id": {
            "type": "string",
            "description": "Product Unit ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "company_id",
              "title",
              "short_title"
            ],
            "properties": {
              "company_id": {
                "type": "integer",
                "minimum": 0,
                "description": "Location ID for a custom Unit; `0` for a shared system Unit"
              },
              "title": {
                "type": "string",
                "description": "Full Unit name"
              },
              "short_title": {
                "type": "string",
                "description": "Abbreviated Unit name"
              }
            }
          }
        }
      },
      "product_resource": {
        "title": "Product Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "good",
            "description": "Literal JSON:API resource type"
          },
          "id": {
            "type": "string",
            "description": "Product ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "category_id",
              "title",
              "sale_unit_id",
              "consumable_unit_id",
              "sale_unit_to_consumable_unit_ratio",
              "loyalty_abonement_type_id",
              "loyalty_certificate_type_id",
              "cost",
              "actual_cost",
              "is_chain"
            ],
            "properties": {
              "category_id": {
                "type": "integer",
                "description": "Product Category ID"
              },
              "title": {
                "type": "string",
                "description": "Product name"
              },
              "sale_unit_id": {
                "type": "integer",
                "description": "Sale Unit ID"
              },
              "consumable_unit_id": {
                "type": "integer",
                "description": "Consumable Unit ID"
              },
              "sale_unit_to_consumable_unit_ratio": {
                "type": "number",
                "description": "Number of Consumable Units in one Sale Unit"
              },
              "loyalty_abonement_type_id": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Membership type ID, when the Product represents a membership"
              },
              "loyalty_certificate_type_id": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Certificate type ID, when the Product represents a certificate"
              },
              "cost": {
                "type": "number",
                "description": "Product sale price"
              },
              "actual_cost": {
                "type": [
                  "number",
                  "null"
                ],
                "description": "Current Product cost when `actual_cost` is requested and the Business\nUser has permission to view it; otherwise `null`.\n"
              },
              "is_chain": {
                "type": "boolean",
                "description": "Whether the Product belongs to the Chain catalog"
              }
            }
          },
          "relationships": {
            "type": "object",
            "additionalProperties": false,
            "description": "Present when related data is requested through `include`",
            "properties": {
              "loyalty_abonement_type": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "loyalty_certificate_type": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "mark_settings": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "storage_amounts": {
                "$ref": "#/components/schemas/toManyRelationship"
              }
            }
          }
        }
      },
      "storage_amount_resource": {
        "title": "Product Storage Amount Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "good_storage_amount",
            "description": "Literal JSON:API resource type"
          },
          "id": {
            "type": "string",
            "description": "Composite Product and Storage ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "good_id",
              "storage_id",
              "sale_amount",
              "consumable_amount"
            ],
            "properties": {
              "good_id": {
                "type": "integer",
                "description": "Product ID"
              },
              "storage_id": {
                "type": "integer",
                "description": "Storage ID"
              },
              "sale_amount": {
                "type": "number",
                "description": "Available amount measured in Sale Units"
              },
              "consumable_amount": {
                "type": "number",
                "description": "Available amount measured in Consumable Units"
              }
            }
          },
          "relationships": {
            "type": "object",
            "additionalProperties": false,
            "description": "Present when related data is requested through `include`",
            "properties": {
              "storage": {
                "$ref": "#/components/schemas/toOneRelationship"
              }
            }
          }
        }
      },
      "product_category_resource": {
        "title": "Product Category Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "good_category",
            "description": "Literal JSON:API resource type"
          },
          "id": {
            "type": "string",
            "description": "Product Category ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "title",
              "is_chain",
              "parent_category_id"
            ],
            "properties": {
              "title": {
                "type": "string",
                "description": "Product Category name"
              },
              "is_chain": {
                "type": "boolean",
                "description": "Whether the Product Category belongs to the Chain catalog"
              },
              "parent_category_id": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Parent Product Category ID; `null` for a root category"
              }
            }
          },
          "relationships": {
            "type": "object",
            "additionalProperties": false,
            "description": "Present when related data is requested through `include`",
            "properties": {
              "child_categories": {
                "$ref": "#/components/schemas/toManyRelationship"
              },
              "goods": {
                "$ref": "#/components/schemas/toManyRelationship"
              }
            }
          }
        }
      },
      "attendance_product_item_resource": {
        "title": "Appointment Product Item Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "attendance_good_item",
            "description": "Literal JSON:API resource type"
          },
          "id": {
            "type": "string",
            "description": "Appointment Product Item ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "record_id",
              "quantity",
              "unit_id",
              "sale_unit_id",
              "consumable_unit_id",
              "operation_unit_type",
              "operation_type_slug",
              "first_cost",
              "manual_cost",
              "cost_per_unit",
              "discount_percent",
              "cost",
              "master_id",
              "staff_id",
              "good_id",
              "storage_id"
            ],
            "properties": {
              "record_id": {
                "type": "integer",
                "description": "Appointment ID; `record_id` is the literal wire field"
              },
              "quantity": {
                "type": "number",
                "description": "Product quantity"
              },
              "unit_id": {
                "type": "integer",
                "description": "Operation Unit ID"
              },
              "sale_unit_id": {
                "type": "integer",
                "description": "Sale Unit ID"
              },
              "consumable_unit_id": {
                "type": "integer",
                "description": "Consumable Unit ID"
              },
              "operation_unit_type": {
                "type": [
                  "string",
                  "null"
                ],
                "deprecated": true,
                "description": "Deprecated wire field; use `operation_type_slug`"
              },
              "operation_type_slug": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Unit operation type"
              },
              "first_cost": {
                "type": "number",
                "description": "Product cost before Appointment item adjustments"
              },
              "manual_cost": {
                "type": "number",
                "description": "Manually specified Product cost"
              },
              "cost_per_unit": {
                "type": "number",
                "description": "Product cost per unit"
              },
              "discount_percent": {
                "type": "number",
                "description": "Applied discount percentage"
              },
              "cost": {
                "type": "number",
                "description": "Final Product cost"
              },
              "master_id": {
                "type": "integer",
                "deprecated": true,
                "description": "Deprecated Team Member ID wire alias; use `staff_id`"
              },
              "staff_id": {
                "type": "integer",
                "description": "Team Member ID"
              },
              "good_id": {
                "type": "integer",
                "description": "Product ID"
              },
              "storage_id": {
                "type": "integer",
                "description": "Storage ID"
              }
            }
          },
          "relationships": {
            "type": "object",
            "additionalProperties": false,
            "description": "Present when related data is requested through `include`",
            "properties": {
              "good": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "staff": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "storage_amount": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "loyalty_abonement": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "loyalty_certificate": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "marks": {
                "$ref": "#/components/schemas/toManyRelationship"
              }
            }
          }
        }
      },
      "team_member_resource": {
        "title": "Team Member Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "staff",
            "description": "Literal JSON:API resource type"
          },
          "id": {
            "type": "string",
            "description": "Team Member ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "name",
              "tt_markup",
              "specialization",
              "image",
              "position_id",
              "is_available_as_assistant"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Team Member name"
              },
              "tt_markup": {
                "type": "integer",
                "description": "Schedule grid interval value"
              },
              "specialization": {
                "type": "string",
                "description": "Team Member specialization"
              },
              "image": {
                "type": "string",
                "description": "Team Member image URL"
              },
              "position_id": {
                "type": "integer",
                "description": "Position ID"
              },
              "is_available_as_assistant": {
                "type": "boolean",
                "description": "Whether the Team Member is available as an assistant"
              }
            }
          },
          "relationships": {
            "type": "object",
            "additionalProperties": false,
            "description": "Present when related data is requested through `include`",
            "properties": {
              "position": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "employee": {
                "$ref": "#/components/schemas/toOneRelationship"
              }
            }
          }
        }
      },
      "position_resource": {
        "title": "Position Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "staff_position",
            "description": "Literal JSON:API resource type"
          },
          "id": {
            "type": "string",
            "description": "Position ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "title"
            ],
            "properties": {
              "title": {
                "type": "string",
                "description": "Position title"
              }
            }
          }
        }
      },
      "employment_profile_resource": {
        "title": "Employment Profile Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "employee",
            "description": "Literal JSON:API resource type"
          },
          "id": {
            "type": "string",
            "description": "Employment profile ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "phone",
              "name",
              "firstname",
              "surname",
              "patronymic",
              "date_admission",
              "date_registration_end",
              "citizenship",
              "gender",
              "passport_data",
              "personal_tax_reference_number",
              "number_insurance_certificates"
            ],
            "properties": {
              "phone": {
                "type": "string",
                "description": "Phone number"
              },
              "name": {
                "type": "string",
                "description": "Display name"
              },
              "firstname": {
                "type": "string",
                "description": "First name"
              },
              "surname": {
                "type": "string",
                "description": "Last name"
              },
              "patronymic": {
                "type": "string",
                "description": "Patronymic"
              },
              "date_admission": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$",
                "description": "Employment start date and time without a timezone"
              },
              "date_registration_end": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$",
                "description": "Registration end date and time without a timezone"
              },
              "citizenship": {
                "type": "string",
                "description": "Citizenship"
              },
              "gender": {
                "type": "integer",
                "enum": [
                  0,
                  1,
                  2
                ],
                "description": "Gender wire value: `0` unspecified, `1` male, `2` female"
              },
              "passport_data": {
                "type": "string",
                "description": "Passport data"
              },
              "personal_tax_reference_number": {
                "type": "string",
                "description": "Personal tax reference number"
              },
              "number_insurance_certificates": {
                "type": "string",
                "description": "Insurance certificate number"
              }
            }
          }
        }
      },
      "team_member_position_resource": {
        "title": "Position Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "position",
            "description": "Literal JSON:API resource type"
          },
          "id": {
            "type": "string",
            "description": "Position ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "chain_id",
              "title",
              "description",
              "services_binding_type",
              "rules_required_fields",
              "only_chain_appointment",
              "salon_ids"
            ],
            "properties": {
              "chain_id": {
                "type": "integer",
                "description": "Chain ID"
              },
              "title": {
                "type": "string",
                "description": "Position title"
              },
              "description": {
                "type": "string",
                "description": "Position description"
              },
              "services_binding_type": {
                "type": "integer",
                "enum": [
                  0,
                  1,
                  2
                ],
                "description": "Service binding mode:\n- `0` - disabled\n- `1` - soft\n- `2` - strict\n"
              },
              "rules_required_fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Required rule fields"
              },
              "only_chain_appointment": {
                "type": "boolean",
                "description": "Whether the Position is available only for Chain Appointments"
              },
              "salon_ids": {
                "type": "array",
                "items": {
                  "type": "integer"
                },
                "description": "Location IDs linked to the Position"
              }
            }
          }
        }
      },
      "include": {
        "title": "Appointment Includes",
        "type": "array",
        "uniqueItems": true,
        "items": {
          "type": "string",
          "enum": [
            "client",
            "client.custom_field_values",
            "staff",
            "services",
            "goods",
            "resource_instances",
            "labels",
            "attendance_service_items",
            "attendance_good_items",
            "attendance_document",
            "transactions",
            "fast_payment_settings",
            "acceptance_free",
            "custom_field_values",
            "comer",
            "client_notification_settings",
            "client_schedule",
            "duration_details"
          ]
        }
      },
      "appointment_resource": {
        "title": "Appointment Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "record",
            "description": "Literal JSON:API resource type"
          },
          "id": {
            "type": "string",
            "description": "Appointment ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "company_id",
              "external_id",
              "visit_id",
              "booking_user_id",
              "bookform_id",
              "master_id",
              "staff_id",
              "client_id",
              "comer_id",
              "source",
              "attendance",
              "attendance_status",
              "attendance_status_slug",
              "client_fictive_name",
              "client_fictive_phone",
              "client_fictive_email",
              "clients_count",
              "activity_id",
              "custom_color",
              "custom_font_color",
              "length",
              "duration",
              "paid_full",
              "is_paid",
              "is_overpaid",
              "timestamp",
              "date",
              "created_datetime",
              "from_url",
              "is_mobile",
              "comment",
              "prepaid_status",
              "record_from",
              "payment_status",
              "is_sale_bill_printed",
              "is_client_notification_sent"
            ],
            "properties": {
              "company_id": {
                "type": "integer",
                "description": "Location ID"
              },
              "external_id": {
                "type": "string",
                "description": "External Appointment ID"
              },
              "visit_id": {
                "type": "integer",
                "description": "Linked visit ID, or `0` when not linked"
              },
              "booking_user_id": {
                "type": "integer",
                "description": "Booking User account ID, or `0`"
              },
              "bookform_id": {
                "type": "integer",
                "description": "Booking form ID, or `0`"
              },
              "master_id": {
                "type": "integer",
                "description": "Deprecated wire field for Team Member ID; use `staff_id`"
              },
              "staff_id": {
                "type": "integer",
                "description": "Team Member ID"
              },
              "client_id": {
                "type": "integer",
                "description": "Booking User profile ID, or `0` when absent"
              },
              "comer_id": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Walk-in visitor ID"
              },
              "source": {
                "type": "integer",
                "description": "Appointment source wire value"
              },
              "attendance": {
                "type": "integer",
                "enum": [
                  -1,
                  0,
                  1,
                  2
                ],
                "description": "Deprecated attendance wire value; use `attendance_status_slug`"
              },
              "attendance_status": {
                "type": "integer",
                "enum": [
                  -1,
                  0,
                  1,
                  2
                ],
                "description": "Deprecated attendance status; use `attendance_status_slug`"
              },
              "attendance_status_slug": {
                "type": "string",
                "enum": [
                  "absent",
                  "waiting",
                  "attended",
                  "confirmed"
                ],
                "description": "Appointment attendance status"
              },
              "client_fictive_name": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Fallback Booking User name stored on the Appointment"
              },
              "client_fictive_phone": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Fallback Booking User phone stored on the Appointment"
              },
              "client_fictive_email": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Fallback Booking User email stored on the Appointment"
              },
              "clients_count": {
                "type": "integer",
                "minimum": 1,
                "description": "Number of Booking Users in the Appointment"
              },
              "activity_id": {
                "type": "integer",
                "description": "Event ID, or `0` when the Appointment is not part of an Event"
              },
              "custom_color": {
                "type": "string",
                "description": "Appointment background color without `#`, or an empty string"
              },
              "custom_font_color": {
                "type": "string",
                "description": "Appointment text color without `#`, or an empty string"
              },
              "length": {
                "type": "integer",
                "minimum": 0,
                "description": "Deprecated duration in seconds; use `duration`"
              },
              "duration": {
                "type": "integer",
                "minimum": 0,
                "description": "Appointment duration in seconds"
              },
              "paid_full": {
                "type": "integer",
                "enum": [
                  0,
                  1,
                  2
                ],
                "description": "Deprecated payment wire value; use `is_paid` and `is_overpaid`"
              },
              "is_paid": {
                "type": "boolean",
                "description": "Whether the Appointment is fully paid"
              },
              "is_overpaid": {
                "type": "boolean",
                "description": "Whether the Appointment is overpaid"
              },
              "timestamp": {
                "type": "integer",
                "format": "int64",
                "description": "Appointment start as a Unix timestamp"
              },
              "date": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$",
                "description": "Appointment start in the Location timezone, without an offset"
              },
              "created_datetime": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$",
                "description": "Creation date and time in the Location timezone, without an offset"
              },
              "from_url": {
                "type": "string",
                "description": "Source URL, or an empty string"
              },
              "is_mobile": {
                "type": "integer",
                "description": "Mobile-origin wire status"
              },
              "comment": {
                "type": "string",
                "description": "Appointment comment"
              },
              "prepaid_status": {
                "type": "integer",
                "description": "Prepayment status wire value"
              },
              "record_from": {
                "type": "string",
                "description": "Human-readable Appointment source, or an empty string"
              },
              "payment_status": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Membership auto-payment status, when available"
              },
              "is_sale_bill_printed": {
                "type": [
                  "boolean",
                  "null"
                ],
                "description": "Whether the sale bill is printed, when available"
              },
              "is_client_notification_sent": {
                "type": "boolean",
                "description": "Whether a Booking User notification was sent"
              }
            }
          },
          "relationships": {
            "type": "object",
            "additionalProperties": false,
            "description": "Present when related data is requested through `include`",
            "properties": {
              "client": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "staff": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "services": {
                "$ref": "#/components/schemas/toManyRelationship"
              },
              "goods": {
                "$ref": "#/components/schemas/toManyRelationship"
              },
              "resource_instances": {
                "$ref": "#/components/schemas/toManyRelationship"
              },
              "labels": {
                "$ref": "#/components/schemas/toManyRelationship"
              },
              "attendance_service_items": {
                "$ref": "#/components/schemas/toManyRelationship"
              },
              "attendance_good_items": {
                "$ref": "#/components/schemas/toManyRelationship"
              },
              "attendance_document": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "transactions": {
                "$ref": "#/components/schemas/toManyRelationship"
              },
              "fast_payment_settings": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "acceptance_free": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "custom_field_values": {
                "$ref": "#/components/schemas/toManyRelationship"
              },
              "comer": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "client_notification_settings": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "client_schedule": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "duration_details": {
                "$ref": "#/components/schemas/toOneRelationship"
              }
            }
          }
        }
      },
      "resource_occupation_resource": {
        "title": "Resource Occupation Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "resource_occupation",
            "description": "Literal JSON:API resource type"
          },
          "id": {
            "type": "string",
            "description": "Resource occupation ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "source_type",
              "source_type_slug",
              "source_id",
              "resource_id",
              "resource_instance_id",
              "from",
              "to"
            ],
            "properties": {
              "source_type": {
                "type": "string",
                "enum": [
                  "record",
                  "activity"
                ],
                "deprecated": true,
                "description": "Deprecated source type; use `source_type_slug`"
              },
              "source_type_slug": {
                "type": "string",
                "enum": [
                  "record",
                  "activity"
                ],
                "description": "Occupation source. Literal `record` and `activity` wire values mean\nAppointment and Event respectively.\n"
              },
              "source_id": {
                "type": "integer",
                "description": "Appointment or Event ID, depending on `source_type_slug`"
              },
              "resource_id": {
                "type": "integer",
                "description": "Resource ID"
              },
              "resource_instance_id": {
                "type": "integer",
                "description": "Resource instance ID"
              },
              "from": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                "description": "Occupation start in the Location timezone"
              },
              "to": {
                "type": "string",
                "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
                "description": "Occupation end in the Location timezone"
              }
            }
          }
        }
      },
      "event_include": {
        "title": "Event Includes",
        "type": "array",
        "uniqueItems": true,
        "items": {
          "type": "string",
          "enum": [
            "staff",
            "service",
            "resource_instances",
            "labels",
            "duration_details",
            "master"
          ]
        }
      },
      "event_resource": {
        "title": "Event Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "activity",
            "description": "Literal JSON:API resource type returned for Events"
          },
          "id": {
            "type": "string",
            "description": "Event ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "master_id",
              "staff_id",
              "service_id",
              "timestamp",
              "length",
              "capacity",
              "clients_count",
              "color",
              "instructions",
              "stream_link",
              "font_color",
              "notified",
              "comment",
              "schedule_id",
              "schedule_till",
              "schedule_event_modified",
              "date"
            ],
            "properties": {
              "master_id": {
                "type": "integer",
                "description": "Deprecated wire field for Team Member ID; use `staff_id`"
              },
              "staff_id": {
                "type": "integer",
                "description": "Team Member ID"
              },
              "service_id": {
                "type": "integer",
                "description": "Service ID"
              },
              "timestamp": {
                "type": "integer",
                "format": "int64",
                "description": "Event start as a Unix timestamp"
              },
              "length": {
                "type": "integer",
                "minimum": 1,
                "maximum": 86400,
                "description": "Event duration in seconds"
              },
              "capacity": {
                "type": "integer",
                "minimum": 1,
                "description": "Total number of available places"
              },
              "clients_count": {
                "type": "integer",
                "minimum": 0,
                "description": "Number of Booking Users currently booked"
              },
              "color": {
                "type": "string",
                "description": "Event background color including `#`"
              },
              "instructions": {
                "type": "string",
                "description": "Instructions for Booking Users"
              },
              "stream_link": {
                "type": "string",
                "description": "Online Event stream link, or an empty string"
              },
              "font_color": {
                "type": "string",
                "description": "Event text color including `#`"
              },
              "notified": {
                "type": "boolean",
                "description": "Whether an Event notification was sent"
              },
              "comment": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Event comment"
              },
              "schedule_id": {
                "type": [
                  "integer",
                  "null"
                ],
                "description": "Event Schedule ID"
              },
              "schedule_till": {
                "oneOf": [
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "date",
                      "timezone_type",
                      "timezone"
                    ],
                    "properties": {
                      "date": {
                        "type": "string",
                        "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}\\.[0-9]{6}$"
                      },
                      "timezone_type": {
                        "type": "integer"
                      },
                      "timezone": {
                        "type": "string"
                      }
                    }
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Event Schedule end represented by the production DateTime wire object"
              },
              "schedule_event_modified": {
                "type": [
                  "boolean",
                  "null"
                ],
                "description": "Whether this scheduled Event differs from its Event Schedule"
              },
              "date": {
                "type": "string",
                "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}[+-][0-9]{4}$",
                "description": "Event start in the Location timezone with a numeric offset"
              }
            }
          },
          "relationships": {
            "type": "object",
            "additionalProperties": false,
            "description": "Present when related data is requested through `include`",
            "properties": {
              "staff": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "master": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "service": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "resource_instances": {
                "$ref": "#/components/schemas/toManyRelationship"
              },
              "labels": {
                "$ref": "#/components/schemas/toManyRelationship"
              },
              "duration_details": {
                "$ref": "#/components/schemas/toOneRelationship"
              }
            }
          }
        }
      },
      "event_collection_response": {
        "title": "Event Collection Response",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/event_resource"
            }
          },
          "included": {
            "type": "array",
            "description": "Resources requested through `include`, when available",
            "items": {
              "$ref": "#/components/schemas/includedResource"
            }
          }
        }
      },
      "event_create_request": {
        "title": "Create Event Request",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "staff_id",
          "service_id",
          "resource_instance_ids",
          "label_ids",
          "date",
          "length",
          "capacity"
        ],
        "properties": {
          "staff_id": {
            "type": "integer",
            "minimum": 1,
            "description": "Team Member ID"
          },
          "service_id": {
            "type": "integer",
            "minimum": 1,
            "description": "Service ID"
          },
          "resource_instance_ids": {
            "type": "array",
            "description": "Resource Instance IDs; an empty array is allowed",
            "items": {
              "type": "integer",
              "minimum": 1
            }
          },
          "label_ids": {
            "type": "array",
            "description": "Tag IDs; an empty array is allowed",
            "items": {
              "type": "integer",
              "minimum": 1
            }
          },
          "date": {
            "type": "string",
            "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}$",
            "description": "Event start in the Location timezone as `YYYY-MM-DD HH:MM:SS`"
          },
          "length": {
            "type": "integer",
            "minimum": 1,
            "maximum": 86400,
            "multipleOf": 300,
            "description": "Total Event duration in seconds, including any technical break"
          },
          "technical_break_duration": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 3600,
            "multipleOf": 300,
            "description": "Technical break in seconds; `null` uses the Location setting"
          },
          "capacity": {
            "type": "integer",
            "minimum": 1,
            "description": "Total number of available places"
          },
          "comment": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Event comment"
          },
          "color": {
            "type": "string",
            "pattern": "^#[0-9a-f]{6}$",
            "description": "Event color including `#`"
          },
          "instructions": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "Instructions for Booking Users"
          },
          "stream_link": {
            "type": "string",
            "minLength": 1,
            "description": "Online Event stream link"
          },
          "force": {
            "type": "boolean",
            "default": false,
            "description": "Skip Team Member and Resource Instance availability conflicts"
          }
        }
      },
      "event_item_response": {
        "title": "Event Item Response",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/event_resource"
          },
          "included": {
            "type": "array",
            "description": "Resources requested through `include`, when available",
            "items": {
              "$ref": "#/components/schemas/includedResource"
            }
          },
          "meta": {
            "type": "array",
            "maxItems": 0,
            "description": "Empty JSON array returned for an Event item"
          }
        }
      },
      "event_update_request": {
        "title": "Update Event Request",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "staff_id",
          "service_id",
          "resource_instance_ids",
          "label_ids",
          "date",
          "length",
          "capacity"
        ],
        "properties": {
          "staff_id": {
            "type": "integer",
            "minimum": 1,
            "description": "Team Member ID"
          },
          "service_id": {
            "type": "integer",
            "minimum": 1,
            "description": "Service ID"
          },
          "resource_instance_ids": {
            "type": "array",
            "description": "Resource Instance IDs; an empty array is allowed",
            "items": {
              "type": "integer",
              "minimum": 1
            }
          },
          "label_ids": {
            "type": "array",
            "description": "Tag IDs; an empty array is allowed",
            "items": {
              "type": "integer",
              "minimum": 1
            }
          },
          "date": {
            "type": "string",
            "pattern": "^[0-9]{4}-[0-9]{2}-[0-9]{2} [0-9]{2}:[0-9]{2}:[0-9]{2}$",
            "description": "Event start in the Location timezone as `YYYY-MM-DD HH:MM:SS`"
          },
          "length": {
            "type": "integer",
            "minimum": 1,
            "maximum": 86400,
            "multipleOf": 300,
            "description": "Total Event duration in seconds, including any technical break"
          },
          "technical_break_duration": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "maximum": 3600,
            "multipleOf": 300,
            "description": "Technical break in seconds; `null` keeps or derives the current value"
          },
          "capacity": {
            "type": "integer",
            "minimum": 1,
            "description": "Total number of available places"
          },
          "comment": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 255,
            "description": "Event comment"
          },
          "color": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^#[0-9a-f]{6}$",
            "description": "Event color including `#`"
          },
          "instructions": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "maxLength": 500,
            "description": "Instructions for Booking Users"
          },
          "stream_link": {
            "type": [
              "string",
              "null"
            ],
            "minLength": 1,
            "description": "Online Event stream link"
          },
          "force": {
            "type": "boolean",
            "default": false,
            "description": "Skip Team Member and Resource Instance availability conflicts"
          }
        }
      },
      "event_appointment_create_request": {
        "title": "Create Event Appointment Request",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "client",
          "clients_count"
        ],
        "properties": {
          "client_id": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1,
            "description": "Deprecated wire field for an existing Booking User ID; use `client.id`"
          },
          "comer_id": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1,
            "description": "Walk-in visitor ID"
          },
          "client": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "id",
              "name",
              "phone",
              "email",
              "surname",
              "patronymic",
              "gender",
              "birthday",
              "custom_field_values",
              "agreements"
            ],
            "properties": {
              "id": {
                "type": [
                  "integer",
                  "null"
                ],
                "minimum": 1,
                "description": "Existing Booking User ID, or `null` for a new Booking User"
              },
              "name": {
                "type": "string",
                "minLength": 1,
                "description": "Booking User first name"
              },
              "phone": {
                "oneOf": [
                  {
                    "type": "string",
                    "const": ""
                  },
                  {
                    "type": "string",
                    "pattern": "^[0-9]{9,15}$"
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Booking User phone number as 9 to 15 digits; an empty string is also accepted"
              },
              "email": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "email",
                "description": "Booking User email address"
              },
              "surname": {
                "type": [
                  "string",
                  "null"
                ],
                "minLength": 1,
                "description": "Booking User last name"
              },
              "patronymic": {
                "type": [
                  "string",
                  "null"
                ],
                "minLength": 1,
                "description": "Literal wire field for a Booking User middle name"
              },
              "gender": {
                "type": [
                  "integer",
                  "null"
                ],
                "enum": [
                  0,
                  1,
                  2,
                  null
                ],
                "description": "Booking User gender wire value"
              },
              "birthday": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date",
                "description": "Booking User birth date"
              },
              "custom_field_values": {
                "oneOf": [
                  {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "code",
                        "value"
                      ],
                      "properties": {
                        "code": {
                          "type": "string",
                          "minLength": 1
                        },
                        "value": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        }
                      }
                    }
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Booking User custom fields"
              },
              "agreements": {
                "oneOf": [
                  {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "is_newsletter_allowed",
                      "is_personal_data_processing_allowed"
                    ],
                    "properties": {
                      "is_newsletter_allowed": {
                        "type": "boolean"
                      },
                      "is_personal_data_processing_allowed": {
                        "type": "boolean"
                      }
                    }
                  },
                  {
                    "type": "null"
                  }
                ],
                "description": "Booking User consent flags"
              },
              "comment": {
                "type": "string",
                "minLength": 1,
                "description": "Booking User comment"
              },
              "national_id": {
                "type": [
                  "string",
                  "null"
                ],
                "minLength": 1,
                "description": "Booking User national identifier"
              }
            }
          },
          "comer": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1,
                "maxLength": 255,
                "description": "Walk-in visitor name"
              }
            }
          },
          "clients_count": {
            "type": "integer",
            "minimum": 1,
            "description": "Number of places reserved by the Appointment"
          },
          "is_trial_service": {
            "type": "boolean",
            "description": "Whether this is a trial Service Appointment"
          }
        }
      },
      "event_appointment_item_response": {
        "title": "Event Appointment Item Response",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/appointment_resource"
          },
          "included": {
            "type": "array",
            "description": "Resources requested through `include`, when available",
            "items": {
              "$ref": "#/components/schemas/includedResource"
            }
          },
          "meta": {
            "type": "array",
            "maxItems": 0,
            "description": "Empty JSON array returned for an Event Appointment item"
          }
        }
      },
      "event_appointment_update_request": {
        "title": "Update Event Appointment Request",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "attendance_service_item"
        ],
        "properties": {
          "attendance_service_item": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "cost_per_unit",
              "discount_percent",
              "manual_cost"
            ],
            "properties": {
              "cost_per_unit": {
                "type": "number",
                "minimum": 0,
                "maximum": 1000000000
              },
              "discount_percent": {
                "type": "number",
                "minimum": 0,
                "maximum": 100
              },
              "manual_cost": {
                "type": "number",
                "minimum": 0,
                "maximum": 1000000000
              },
              "is_trial": {
                "type": "boolean",
                "description": "Whether this is a trial Service Appointment"
              }
            }
          },
          "attendance_good_items": {
            "type": "array",
            "description": "Literal wire field for Appointment Product Items",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "id",
                "good_id",
                "unit_id",
                "storage_id",
                "staff_id",
                "operation_unit_type",
                "number",
                "quantity",
                "cost_per_unit",
                "manual_cost",
                "discount_percent",
                "marks",
                "planned_activation_date"
              ],
              "properties": {
                "id": {
                  "type": [
                    "integer",
                    "null"
                  ],
                  "minimum": 1,
                  "description": "Appointment Product Item ID; `null` creates an item"
                },
                "good_id": {
                  "type": "integer",
                  "minimum": 1,
                  "description": "Literal wire field for Product ID"
                },
                "unit_id": {
                  "type": "integer",
                  "minimum": 1,
                  "description": "Unit ID"
                },
                "storage_id": {
                  "type": "integer",
                  "minimum": 1,
                  "description": "Inventory Location ID"
                },
                "staff_id": {
                  "type": "integer",
                  "minimum": 1,
                  "description": "Team Member ID"
                },
                "operation_unit_type": {
                  "type": "string",
                  "enum": [
                    "sale",
                    "consumable"
                  ],
                  "description": "Product operation type"
                },
                "number": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "minLength": 1,
                  "maxLength": 32
                },
                "quantity": {
                  "type": "number",
                  "minimum": 0.001,
                  "maximum": 1000000000
                },
                "cost_per_unit": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 1000000000
                },
                "manual_cost": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 1000000000
                },
                "discount_percent": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100
                },
                "marks": {
                  "type": "array",
                  "items": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  }
                },
                "planned_activation_date": {
                  "type": [
                    "string",
                    "null"
                  ],
                  "format": "date"
                }
              }
            }
          },
          "comment": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255,
            "description": "Appointment comment"
          },
          "label_ids": {
            "type": [
              "array",
              "null"
            ],
            "description": "Tag IDs",
            "items": {
              "type": "integer",
              "minimum": 1
            }
          },
          "color": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^[0-9a-f]{6}$",
            "description": "Appointment color without `#`"
          },
          "clients_count": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1,
            "description": "Number of places reserved by the Appointment"
          }
        }
      },
      "event_appointment_reschedule_request": {
        "title": "Reschedule Event Appointment Request",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "reschedule_activity_id"
        ],
        "properties": {
          "reschedule_activity_id": {
            "type": "integer",
            "minimum": 1,
            "description": "Literal wire field for the destination Event ID"
          },
          "with_comer": {
            "type": "boolean",
            "description": "Whether to retain the linked walk-in visitor"
          },
          "comment": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 255,
            "description": "Appointment comment"
          },
          "clients_count": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1,
            "description": "Number of places reserved by the Appointment"
          }
        }
      },
      "booking_user_include": {
        "title": "Booking User Includes",
        "type": "array",
        "uniqueItems": true,
        "items": {
          "type": "string",
          "enum": [
            "labels",
            "first_successful_visit",
            "loyalty_cards",
            "loyalty_certificates",
            "loyalty_abonements",
            "custom_field_values",
            "agreements"
          ]
        }
      },
      "booking_user_resource": {
        "title": "Booking User Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "client",
            "description": "Literal legacy JSON:API resource type for a Booking User"
          },
          "id": {
            "type": "string",
            "description": "Booking User profile ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "name",
              "surname",
              "patronymic",
              "phone",
              "additional_phone",
              "email",
              "comment",
              "client_tips",
              "birthday",
              "card_number",
              "gender",
              "discount",
              "discount_percent"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Booking User first name"
              },
              "surname": {
                "type": "string",
                "description": "Booking User surname, subject to Business User permissions"
              },
              "patronymic": {
                "type": "string",
                "description": "Booking User patronymic, subject to Business User permissions"
              },
              "phone": {
                "type": "string",
                "description": "Booking User phone number, subject to Business User permissions"
              },
              "additional_phone": {
                "type": "string",
                "description": "Additional phone number, or an empty string"
              },
              "email": {
                "type": "string",
                "description": "Email address, or an empty string"
              },
              "comment": {
                "type": "string",
                "description": "Booking User card comment, subject to Business User permissions"
              },
              "client_tips": {
                "type": "boolean",
                "description": "Whether the Booking User can leave tips"
              },
              "birthday": {
                "type": [
                  "string",
                  "null"
                ],
                "pattern": "^\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}$",
                "description": "Birthday without a timezone, or `null`"
              },
              "card_number": {
                "type": "string",
                "description": "Booking User card number, or an empty string"
              },
              "gender": {
                "type": "integer",
                "description": "Literal gender wire value"
              },
              "discount": {
                "type": "number",
                "description": "Deprecated discount percentage; use `discount_percent`"
              },
              "discount_percent": {
                "type": "number",
                "description": "Booking User discount percentage"
              }
            }
          },
          "relationships": {
            "type": "object",
            "additionalProperties": false,
            "description": "Present when related data is requested through `include`",
            "properties": {
              "labels": {
                "$ref": "#/components/schemas/toManyRelationship"
              },
              "first_successful_visit": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "loyalty_cards": {
                "$ref": "#/components/schemas/toManyRelationship"
              },
              "loyalty_certificates": {
                "$ref": "#/components/schemas/toManyRelationship"
              },
              "loyalty_abonements": {
                "$ref": "#/components/schemas/toManyRelationship"
              },
              "custom_field_values": {
                "$ref": "#/components/schemas/toManyRelationship"
              },
              "agreements": {
                "$ref": "#/components/schemas/toOneRelationship"
              }
            }
          }
        }
      },
      "statistics_attributes": {
        "title": "Booking User Attendance Statistics Attributes",
        "type": "object",
        "required": [
          "successful_attendances_count",
          "failed_attendances_count",
          "balance_amount",
          "spent_amount",
          "paid_amount",
          "last_successful_attendance_datetime"
        ],
        "properties": {
          "company_id": {
            "type": "integer",
            "description": "Location ID; present only in Location statistics"
          },
          "successful_attendances_count": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of successful attendances"
          },
          "failed_attendances_count": {
            "type": "integer",
            "minimum": 0,
            "description": "Number of failed attendances"
          },
          "balance_amount": {
            "type": "number",
            "description": "Current balance"
          },
          "spent_amount": {
            "type": "number",
            "description": "Total spent amount"
          },
          "paid_amount": {
            "type": "number",
            "description": "Total paid amount"
          },
          "last_successful_attendance_datetime": {
            "type": [
              "string",
              "null"
            ],
            "pattern": "^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$",
            "description": "Last successful attendance in the Location timezone"
          }
        }
      },
      "statistics_relationships": {
        "title": "Booking User Attendance Statistics Relationships",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "deposits"
        ],
        "properties": {
          "deposits": {
            "$ref": "#/components/schemas/toManyRelationship"
          }
        }
      },
      "location_attendance_statistics_resource": {
        "title": "Booking User Location Attendance Statistics Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes",
          "relationships"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "client_attendances_statistic",
            "description": "Literal legacy JSON:API resource type for Location statistics"
          },
          "id": {
            "type": "string",
            "description": "Compound Booking User and Location identifier"
          },
          "attributes": {
            "allOf": [
              {
                "$ref": "#/components/schemas/statistics_attributes"
              },
              {
                "type": "object",
                "required": [
                  "company_id"
                ]
              }
            ]
          },
          "relationships": {
            "$ref": "#/components/schemas/statistics_relationships"
          }
        }
      },
      "deposit_resource": {
        "title": "Booking User Deposit Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "timetable_deposit"
          },
          "id": {
            "type": "string",
            "description": "Deposit ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "title",
              "balance",
              "reserved_balance",
              "available_balance"
            ],
            "properties": {
              "title": {
                "type": "string",
                "description": "Deposit name"
              },
              "balance": {
                "type": "number",
                "description": "Total balance"
              },
              "reserved_balance": {
                "type": "number",
                "description": "Reserved balance"
              },
              "available_balance": {
                "type": "number",
                "description": "Available balance after reservations"
              }
            }
          }
        }
      },
      "chain_attendance_statistics_resource": {
        "title": "Booking User Chain Attendance Statistics Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes",
          "relationships"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "client_chain_attendances_statistic",
            "description": "Literal legacy JSON:API resource type for Chain statistics"
          },
          "id": {
            "type": "string",
            "description": "Compound Booking User and Chain identifier"
          },
          "attributes": {
            "allOf": [
              {
                "$ref": "#/components/schemas/statistics_attributes"
              },
              {
                "type": "object",
                "required": [
                  "chain_id"
                ],
                "properties": {
                  "chain_id": {
                    "type": "integer",
                    "description": "Chain ID"
                  }
                }
              }
            ]
          },
          "relationships": {
            "$ref": "#/components/schemas/statistics_relationships"
          }
        }
      },
      "custom_field_resource": {
        "title": "Custom Field Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "custom_field",
            "description": "Literal JSON:API resource type"
          },
          "id": {
            "type": "string",
            "description": "Location Custom Field ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "code",
              "slug",
              "parent_entity_type",
              "entity_slug",
              "relation_entity_type",
              "show_in_ui",
              "is_visible",
              "title",
              "user_can_edit",
              "is_editable",
              "is_required",
              "weight",
              "values"
            ],
            "properties": {
              "code": {
                "type": "string",
                "deprecated": true,
                "description": "Deprecated Custom Field key; use `slug`"
              },
              "slug": {
                "type": "string",
                "description": "Custom Field key used in API payloads"
              },
              "parent_entity_type": {
                "type": "string",
                "enum": [
                  "record",
                  "client"
                ],
                "deprecated": true,
                "description": "Deprecated entity wire value; use `entity_slug`"
              },
              "entity_slug": {
                "type": "string",
                "enum": [
                  "record",
                  "client"
                ],
                "description": "Entity wire value. `record` means Appointment and `client` means\nBooking User.\n"
              },
              "relation_entity_type": {
                "type": "null",
                "description": "Reserved wire field; currently always `null`"
              },
              "show_in_ui": {
                "type": "boolean",
                "deprecated": true,
                "description": "Deprecated visibility flag; use `is_visible`"
              },
              "is_visible": {
                "type": "boolean",
                "description": "Whether the Custom Field is visible in Altegio interfaces"
              },
              "title": {
                "type": "string",
                "description": "Custom Field name"
              },
              "user_can_edit": {
                "type": "boolean",
                "deprecated": true,
                "description": "Deprecated editability flag; use `is_editable`"
              },
              "is_editable": {
                "type": "boolean",
                "description": "Whether Business Users can edit the Custom Field value"
              },
              "is_required": {
                "type": "boolean",
                "description": "Whether a value is required"
              },
              "weight": {
                "type": "integer",
                "description": "Display order"
              },
              "values": {
                "type": "array",
                "description": "Configured values for list-like Custom Fields",
                "items": {}
              }
            }
          },
          "relationships": {
            "type": "object",
            "additionalProperties": false,
            "description": "Present when related data is requested through `include`",
            "properties": {
              "custom_field_type": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "type": {
                "$ref": "#/components/schemas/toOneRelationship"
              },
              "ui_options": {
                "$ref": "#/components/schemas/toManyRelationship"
              }
            }
          }
        }
      },
      "custom_field_type_resource": {
        "title": "Custom Field Type Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "custom_field_type"
          },
          "id": {
            "type": "string",
            "description": "Custom Field Type ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "code",
              "slug",
              "title"
            ],
            "properties": {
              "code": {
                "type": "string",
                "deprecated": true,
                "description": "Deprecated type key; use `slug`"
              },
              "slug": {
                "type": "string",
                "description": "Custom Field Type key"
              },
              "title": {
                "type": "string",
                "description": "Custom Field Type name"
              }
            }
          }
        }
      },
      "custom_field_ui_option_resource": {
        "title": "Custom Field UI Option Resource",
        "type": "object",
        "additionalProperties": false,
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "const": "custom_field_ui_option"
          },
          "id": {
            "type": "string",
            "description": "Custom Field UI Option ID"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "slug",
              "value"
            ],
            "properties": {
              "slug": {
                "type": "string",
                "description": "UI Option key"
              },
              "value": {
                "type": "boolean",
                "description": "Whether the UI Option is enabled"
              }
            }
          }
        }
      },
      "tag_attributes": {
        "type": "object",
        "description": "Tag attributes (v2 API JSON:API format)",
        "additionalProperties": false,
        "properties": {
          "company_id": {
            "type": "integer",
            "description": "Location ID",
            "example": 68570
          },
          "title": {
            "type": "string",
            "description": "Tag name",
            "example": "VIP Booking User"
          },
          "color": {
            "type": "string",
            "description": "Tag background color in",
            "example": "#ff2828"
          },
          "font_color": {
            "type": "string",
            "description": "Tag font color in",
            "example": "#ffffff"
          },
          "icon": {
            "type": "string",
            "description": "Icon name",
            "example": "star"
          },
          "entity_type": {
            "type": "string",
            "description": "Literal entity alias. `client` identifies Booking Users and `record`\nidentifies Appointments.\n",
            "enum": [
              "common",
              "client",
              "record",
              "activity"
            ],
            "example": "client"
          },
          "is_deleted": {
            "type": "boolean",
            "description": "Whether the Tag is deleted",
            "example": false
          },
          "is_editable": {
            "type": "boolean",
            "description": "Whether the Tag can be updated or deleted",
            "example": true
          },
          "salon_id": {
            "type": "integer",
            "description": "Deprecated wire field for Location ID; use `company_id`",
            "deprecated": true,
            "example": 68570
          },
          "entity": {
            "type": "integer",
            "description": "Deprecated numeric entity type: 0 general, 1 Booking User, 2 Appointment, 3 Event",
            "deprecated": true,
            "example": 1
          },
          "entity_slug": {
            "type": "string",
            "description": "Deprecated literal entity alias; use `entity_type`",
            "deprecated": true,
            "example": "client"
          },
          "deleted": {
            "type": "integer",
            "description": "Deprecated deletion wire value; use `is_deleted`",
            "deprecated": true,
            "example": 0
          },
          "not_editable": {
            "type": "integer",
            "description": "Deprecated editability wire value; use `is_editable`",
            "deprecated": true,
            "example": 0
          }
        },
        "required": [
          "company_id",
          "title",
          "color",
          "entity_type",
          "is_deleted",
          "is_editable"
        ]
      }
    }
  },
  "x-tagGroups": [
    {
      "name": "POS & Scheduling",
      "tags": [
        "Services",
        "Products",
        "Team Members",
        "Appointments",
        "Events",
        "Booking Users"
      ]
    },
    {
      "name": "Administrative",
      "tags": [
        "Custom Fields",
        "Tags"
      ]
    }
  ],
  "tags": [
    {
      "name": "Services",
      "description": "Service catalog management.\n\nRetrieve services and service categories for a location.\n"
    },
    {
      "name": "Products",
      "description": "Product inventory management.\n\nRetrieve Products, Product Categories, measurement Units, stock levels,\nand Appointment Product Items.\n"
    },
    {
      "name": "Team Members",
      "description": "Team Member and position management.\n\nManage Team Member positions and retrieve Team Member information.\n"
    },
    {
      "name": "Appointments",
      "description": "Appointment management.\n\nList and manage appointments for a location.\n"
    },
    {
      "name": "Events",
      "description": "Group Event management."
    },
    {
      "name": "Booking Users",
      "description": "Booking User attendance and financial statistics.\n"
    },
    {
      "name": "Custom Fields",
      "description": "Location-specific Custom Fields for Appointments and Booking Users.\n"
    },
    {
      "name": "Tags",
      "description": "Booking User tagging system."
    }
  ],
  "paths": {
    "/locations/{location_id}/services": {
      "get": {
        "tags": [
          "Services"
        ],
[...]
